@import './exportable/app.colors';

$colorsAvailable: (
  st-blue: $colorStBlue,
  action: $colorAction,
  action-150: $colorAction150,
  action-120: $colorAction120,
  action-80: $colorAction80,
  action-60: $colorAction60,
  action-40: $colorAction40,
  action-10: $colorAction10,
  space: $colorSpace,
  space-110: $colorSpace110,
  space-80: $colorSpace80,
  space-70: $colorSpace70,
  space-50: $colorSpace50,
  space-40: $colorSpace40,
  space-30: $colorSpace30,
  space-20: $colorSpace20,
  space-10: $colorSpace10,
  space-5: $colorSpace5,
  success: $colorSuccess,
  success-140: $colorSuccess140,
  success-120: $colorSuccess120,
  success-10: $colorSuccess10,
  warning: $colorWarning,
  warning-140: $colorWarning140,
  warning-120: $colorWarning120,
  warning-10: $colorWarning10,
  critical: $colorCritical,
  critical-140: $colorCritical140,
  critical-120: $colorCritical120,
  critical-10: $colorCritical10,
  neutral: $colorNeutral,
  neutral-80: $colorNeutral80,
  neutral-70: $colorNeutral70,
  neutral-60: $colorNeutral60,
  neutral-50: $colorNeutral50,
  neutral-40: $colorNeutral40,
  neutral-30: $colorNeutral30,
  neutral-20: $colorNeutral20,
  neutral-15: $colorNeutral15,
  neutral-10: $colorNeutral10,
  neutral-8: $colorNeutral8,
  neutral-4: $colorNeutral4,
  neutral-2: $colorNeutral2,
  neutral-full: $colorNeutralFull,
  misc-aqua: $colorMiscAqua,
  misc-aqua-30: $colorMiscAqua30,
  misc-coral: $colorMiscCoral,
  misc-coral-30: $colorMiscCoral30,
  misc-lavender: $colorMiscLavender,
  misc-lavender-30: $colorMiscLavender30,
  misc-olive: $colorMiscOlive,
  misc-olive-30: $colorMiscOlive30,
  misc-tangerine: $colorMiscTangerine,
  misc-tangerine-30: $colorMiscTangerine30,
  misc-peach: $colorMiscPeach,
  misc-peach-30: $colorMiscPeach30,
  misc-turquoise: $colorMiscTurquoise,
  misc-turquoise-30: $colorMiscTurquoise30,
  misc-viking: $colorMiscViking,
  misc-viking-30: $colorMiscViking30
);
