%npa-alert {
  .npa-alert {
    --npa-alert-default-position: var(--npa-alert-position);
    --npa-alert-default-padding-vertical: var(--npa-alert-padding-vertical);
    --npa-alert-default-padding-horizontal: var(--npa-alert-padding-horizontal);
    --npa-alert-default-width: var(--npa-alert-width);
    --npa-alert-default-min-width: var(--npa-alert-min-width);
    --npa-alert-default-max-width: var(--npa-alert-max-width);
    --npa-alert-default-top: var(--npa-alert-top);
    --npa-alert-default-left: var(--npa-alert-left);
    --npa-alert-default-z-index: var(--npa-alert-z-index);

    --npa-alert-default-border: var(--npa-alert-border);
    --npa-alert-default-border-radius: var(--npa-alert-border-radius);
    --npa-alert-default-box-shadow: var(--npa-alert-box-shadow);

    --npa-alert-default-close-control-icon: var(--npa-alert-close-control-icon);
    --npa-alert-default-close-control-width: var(--npa-alert-close-control-width);
    --npa-alert-default-close-control-height: var(--npa-alert-close-control-height);
    --npa-alert-default-close-control-top: var(--npa-alert-close-control-top);
    --npa-alert-default-close-control-right: var(--npa-alert-close-control-right);

    --npa-alert-default-header-separation: var(--npa-alert-header-separation);
    --npa-alert-default-title-icon-separation: var(--npa-alert-title-icon-separation);

    --npa-alert-default-title-text-color: var(--npa-alert-title-text-color);
    --npa-alert-default-title-icon-color: var(--npa-alert-title-icon-color);
    --npa-alert-default-title-icon-spacer: var(--npa-alert-title-icon-spacer);
    --npa-alert-default-body-text-color: var(--npa-alert-body-text-color);
    --npa-alert-default-border-color: var(--npa-alert-border-color);
    --npa-alert-default-background-color: var(--npa-alert-background-color);

    --npa-alert-default-actions-height: var(--npa-alert-actions-height);
    --npa-alert-default-actions-background-color: var(--npa-alert-actions-background-color);
    --npa-alert-default-actions-separation: var(--npa-alert-actions-separation);

    &__header {
      I.npa-alert__icon {
        top: 0.1em;
      }
      .npa-alert__title {
        font-weight: bold;
        flex: 1;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
  }
}
