%npa-breadcrumb {
  .npa-breadcrumb {
    --npa-breadcrum-default-height: var(--npa-component-height);
    --npa-breadcrum-default-item-spacing: var(--npa-breadcrum-item-spacing);

    --npa-breadcrumb-default-link-color: var(--npa-breadcrumb-link-color);
    --npa-breadcrumb-default-link-hover-color: var(--npa-breadcrumb-link-hover-color);
    --npa-breadcrumb-default-link-active-color: var(--npa-breadcrumb-link-active-color);

    --npa-breadcrum-default-separator-color: var(--npa-breadcrum-separator-color);
    --npa-breadcrum-default-dropdown-trigger-color: var(--npa-breadcrum-dropdown-trigger-color);
  }
}
