%sds-breadcrumb {
  .sds-breadcrumb {
    --sds-breadcrum-default-height: var(--sds-component-height);
    --sds-breadcrum-default-item-spacing: var(--sds-breadcrum-item-spacing);

    --sds-breadcrumb-default-link-color: var(--sds-breadcrumb-link-color);
    --sds-breadcrumb-default-link-hover-color: var(--sds-breadcrumb-link-hover-color);
    --sds-breadcrumb-default-link-active-color: var(--sds-breadcrumb-link-active-color);

    --sds-breadcrum-default-separator-color: var(--sds-breadcrum-separator-color);
    --sds-breadcrum-default-dropdown-trigger-color: var(--sds-breadcrum-dropdown-trigger-color);
  }
}
