%npa-button {
  %npa-button-icon {
    position: absolute;
    line-height: var(--npa-component-height);
    color: inherit;
    top: -2px;
  }

  BUTTON.npa-button {
    position: relative;
    display: table-cell;
    width: fit-content;
    height: var(--npa-component-height);
    min-height: var(--npa-component-height);
    box-sizing: border-box;
    cursor: pointer;
    padding: var(--npa-component-padding-vertical) var(--npa-component-padding-horizontal);
    border: var(--npa-component-border);
    border-color: var(--npa-button-border-color);
    border-radius: var(--npa-component-border-radius);
    background-color: var(--npa-button-background-color);
    color: var(--npa-button-color);
    & > I.npa-icon {
      color: inherit;
    }
    &:hover {
      color: var(--npa-button-hover-color);
      border-color: var(--npa-button-hover-border-color);
      background-color: var(--npa-button-hover-background-color);
      & > I.npa-icon {
        color: inherit;
      }
    }
    &:focus, &.focus {
      box-shadow: var(--npa-component-focus-box-shadow);
    }
    &:active, &.pressed {
      color: var(--npa-button-active-color);
      border-color: var(--npa-button-active-border-color);
      background-color: var(--npa-button-active-background-color);
      & > I.npa-icon {
        color: inherit;
      }
    }
    &:disabled, &.disabled {
      color: var(--npa-button-disabled-color);
      border-color: var(--npa-button-disabled-border-color);
      background-color: var(--npa-button-disabled-background-color);
      cursor: var(--npa-component-disabled-cursor);
      & > I.npa-icon {
        color: var(--npa-button-disabled-icon-color);
        cursor: inherit;
      }
    }

    &.npa-button--icon-left {
      padding-left: calc(var(--npa-component-padding-horizontal) + 1.1em + var(--npa-component-icon-left-spacer));
      I.npa-icon {
        @extend %npa-button-icon;
        &.npa-icon--left {
          left: var(--npa-component-padding-horizontal);
        }
      }
    }
    &.npa-button--icon-right {
      padding-right: calc(var(--npa-component-padding-horizontal) + 1.1em + var(--npa-component-icon-right-spacer));
      I.npa-icon {
        @extend %npa-button-icon;
        &.npa-icon--right {
          right: var(--npa-component-padding-horizontal);
        }
      }
    }
    &.npa-button--icon-only {
      padding: 0;
      width: var(--npa-component-height);
      min-width: var(--npa-component-height);
      I.npa-icon {
        @extend %npa-button-icon;
        left: 0;
        top: calc(var(--npa-button-border-correction) * -1);
        width: calc(var(--npa-component-height) - var(--npa-button-border-correction));
      }
    }

    &.no-events {
      cursor: wait;
      &:hover {
        color: var(--npa-button-color);
        border-color: var(--npa-button-border-color);
        background-color: var(--npa-button-background-color);
      }
    }
  }
}
