%sds-button {
  %sds-button-icon {
    position: absolute;
    line-height: var(--sds-component-height);
    color: inherit;
    top: -2px;
  }

  BUTTON.sds-button {
    position: relative;
    display: table-cell;
    height: var(--sds-component-height);
    min-height: var(--sds-component-height);
    box-sizing: border-box;
    cursor: pointer;
    padding: var(--sds-component-padding-vertical) var(--sds-component-padding-horizontal);
    border: var(--sds-component-border);
    border-color: var(--sds-button-border-color);
    border-radius: var(--sds-component-border-radius);
    background-color: var(--sds-button-background-color);
    color: var(--sds-button-color);
    & > I.sds-icon {
      color: inherit;
    }
    &:hover {
      color: var(--sds-button-hover-color);
      border-color: var(--sds-button-hover-border-color);
      background-color: var(--sds-button-hover-background-color);
      & > I.sds-icon {
        color: inherit;
      }
    }
    &:active, &.pressed {
      color: var(--sds-button-active-color);
      border-color: var(--sds-button-active-border-color);
      background-color: var(--sds-button-active-background-color);
      & > I.sds-icon {
        color: inherit;
      }
    }
    &:disabled, &.disabled {
      color: var(--sds-button-disabled-color);
      border-color: var(--sds-button-disabled-border-color);
      background-color: var(--sds-button-disabled-background-color);
      cursor: var(--sds-component-disabled-cursor);
      & > I.sds-icon {
        color: var(--sds-button-disabled-icon-color);
        cursor: inherit;
      }
    }

    &.sds-button--icon-left {
      padding-left: calc(var(--sds-component-padding-horizontal) + 1.1em + var(--sds-component-icon-left-spacer));
      I.sds-icon {
        @extend %sds-button-icon;
        &.sds-icon--left {
          left: var(--sds-component-padding-horizontal);
        }
      }
    }
    &.sds-button--icon-right {
      padding-right: calc(var(--sds-component-padding-horizontal) + 1.1em + var(--sds-component-icon-right-spacer));
      I.sds-icon {
        @extend %sds-button-icon;
        &.sds-icon--right {
          right: var(--sds-component-padding-horizontal);
        }
      }
    }
    &.sds-button--icon-only {
      padding: 0;
      width: var(--sds-component-height);
      min-width: var(--sds-component-height);
      I.sds-icon {
        @extend %sds-button-icon;
        left: calc((var(--sds-component-height) - 1.1em) / 2);
        top: -1px;
      }
    }

    &.no-events {
      cursor: wait;
      &:hover {
        color: var(--sds-button-color);
        border-color: var(--sds-button-border-color);
        background-color: var(--sds-button-background-color);
      }
    }
  }
}
