@import './shared/mixins';

%npa-checkbox {
  INPUT[type=checkbox]:not(.npa-switch) {
    @include selectionElement('checkbox') {
      &:disabled, &.disabled {
        &.npa-checkbox--indeterminate {
          &:checked + LABEL {
            &:before {
              border-color: var(--npa-checkbox-indeterminate-disabled-border-color);
              background-color: var(--npa-checkbox-indeterminate-disabled-background-color);
            }
          }
        }
      }

      &.npa-checkbox--indeterminate {
        &:checked + LABEL {
          &:before {
            border-color: var(--npa-checkbox-indeterminate-border-color);
            background-color: var(--npa-checkbox-indeterminate-background-color);
          }
          &:after {
            background-image: var(--npa-checkbox-indeterminate);
          }
        }
      }
    }
  }
}
