@import './alert';
@import './badge';
@import './breadcrumb';
@import './button';
@import './checkbox';
@import './date-picker';
@import './dropdown';
@import './input';
@import './label';
@import './link';
@import './modal';
@import './notification';
@import './radio';
@import './report';
@import './select';
@import './spinner';
@import './switch';
@import './tab';
@import './tag';
@import './tag-input';
@import './textarea';
@import './toggle-button';
@import './tooltip';

%npa-components {
  @extend %npa-alert;
  @extend %npa-badge;
  @extend %npa-breadcrumb;
  @extend %npa-button;
  @extend %npa-checkbox;
  @extend %npa-date-picker;
  @extend %npa-dropdown;
  @extend %npa-input;
  @extend %npa-label;
  @extend %npa-link;
  @extend %npa-modal;
  @extend %npa-notification;
  @extend %npa-radio;
  @extend %npa-report;
  @extend %npa-select;
  @extend %npa-spinner;
  @extend %npa-switch;
  @extend %npa-tab;
  @extend %npa-tag;
  @extend %npa-tag-input;
  @extend %npa-textarea;
  @extend %npa-toggle-button;
  @extend %npa-tooltip;
}
