%npa-date-picker {
  .npa-calendar {
    --npa-calendar-header-default-padding-vertical: var(--npa-calendar-header-padding-vertical);
    --npa-calendar-header-default-padding-horizontal: var(--npa-calendar-header-padding-horizontal);
    --npa-calendar-body-default-padding-vertical: var(--npa-calendar-body-padding-vertical);
    --npa-calendar-body-default-padding-horizontal: var(--npa-calendar-body-padding-horizontal);
    --npa-calendar-weekdays-default-spacing: var(--npa-calendar-weekdays-spacing);
    --npa-calendar-item-default-width: var(--npa-calendar-item-width);
    --npa-calendar-item-default-correction: var(--npa-calendar-item-correction);

    --npa-calendar-default-position: var(--npa-calendar-position);
    --npa-calendar-default-width: var(--npa-calendar-width);
    --npa-calendar-default-border-radius: var(--npa-component-border-radius);
    --npa-calendar-default-z-index: var(--npa-calendar-z-index);

    --npa-calendar-default-background-color: var(--npa-calendar-background-color);
    --npa-calendar-default-border: var(--npa-component-border);
    --npa-calendar-default-border-color: var(--npa-calendar-border-color);

    --npa-calendar-default-box-shadow: var(--npa-component-box-shadow);

    --npa-calendar-default-color: var(--npa-calendar-color);
    --npa-calendar-default-hover-color: var(--npa-calendar-hover-color);
  }
}
