%npa-dropdown {
  .npa-dropdown {
    --npa-dropdown-default-position: var(--npa-dropdown-position);
    --npa-dropdown-default-width: var(--npa-dropdown-width);
    --npa-dropdown-default-min-width: var(--npa-dropdown-min-width);
    --npa-dropdown-default-left: var(--npa-dropdown-left);
    --npa-dropdown-default-top: var(--npa-dropdown-top);
    --npa-dropdown-default-z-index: var(--npa-dropdown-z-index);

    --npa-dropdown-default-border: var(--npa-dropdown-border);
    --npa-dropdown-default-border-radius: var(--npa-dropdown-border-radius);
    --npa-dropdown-default-padding: var(--npa-dropdown-padding);
    --npa-dropdown-default-margin: var(--npa-dropdown-margin);
    --npa-dropdown-default-box-shadow: var(--npa-dropdown-box-shadow);

    --npa-dropdown-default-text-color: var(--npa-dropdown-text-color);
    --npa-dropdown-default-border-color: var(--npa-dropdown-border-color);
    --npa-dropdown-default-background-color: var(--npa-dropdown-background-color);

    --npa-dropdown-option-default-group-min-height: var(--npa-dropdown-option-group-min-height);
    --npa-dropdown-option-default-group-color: var(--npa-dropdown-option-group-color);

    --npa-dropdown-option-default-min-height: var(--npa-dropdown-option-min-height);
    --npa-dropdown-option-default-padding-vertical: var(--npa-dropdown-option-padding-vertical);
    --npa-dropdown-option-default-padding-horizontal: var(--npa-dropdown-option-padding-horizontal);
    --npa-dropdown-option-default-icon-size: var(--npa-dropdown-option-icon-size);
    --npa-dropdown-option-default-icon-spacer: var(--npa-dropdown-option-icon-spacer);
    --npa-dropdown-option-default-label-correction: var(--npa-dropdown-option-label-correction);
    --npa-dropdown-option-default-border-radius: var(--npa-dropdown-option-border-radius);

    --npa-dropdown-option-default-hover-color: var(--npa-dropdown-option-hover-color);
    --npa-dropdown-option-default-hover-background-color: var(--npa-dropdown-option-hover-background-color);

    --npa-dropdown-option-default-selected-color: var(--npa-dropdown-option-selected-color);
    --npa-dropdown-option-default-selected-background-color: var(--npa-dropdown-option-selected-background-color);

    --npa-dropdown-option-default-icon-right-size: var(--npa-dropdown-option-icon-right-size);
    --npa-dropdown-option-default-icon-right-spacer: var(--npa-dropdown-option-icon-right-spacer);

    --npa-dropdown-separator-default-border: var(--npa-dropdown-separator-border);
    --npa-dropdown-separator-default-border-color: var(--npa-dropdown-separator-border-color);
    --npa-dropdown-separator-default-margin: var(--npa-dropdown-separator-margin);
  }
}
