@import 'shared/common';

%sds-label {
  LABEL.sds-label {
    display: var(--sds-label-display);
    color: var(--sds-label-color);
    padding-bottom: var(--sds-component-vertical-spacer);
    &.disabled {
      color: var(--sds-label-disabled-color);
    }
    &.error {
      color: var(--sds-label-error-color);
    }
    &.focus {
      color: var(--sds-label-focus-color);
    }
  }
}
