@import 'shared/common';

%npa-label {
  LABEL.npa-label {
    display: var(--npa-label-display);
    color: var(--npa-label-color);
    padding-bottom: var(--npa-component-vertical-spacer);
    &.disabled {
      color: var(--npa-label-disabled-color);
    }
    &.error {
      color: var(--npa-label-error-color);
    }
    &.focus {
      color: var(--npa-label-focus-color);
    }
  }
}
