%sds-link {
  A.sds-link {
    color: var(--sds-link-color);
    cursor: pointer;
    text-decoration: none;
    &:hover {
      color: var(--sds-link-hover-color);
      text-decoration: none;
    }

    &.sds-link-hover-underline {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    &.sds-link-hover-underline-inverse {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
