%npa-modal {
  .npa-modal {
    --npa-modal-default-overlay-position: var(--npa-modal-overlay-position);
    --npa-modal-default-overlay-width: var(--npa-modal-overlay-width);
    --npa-modal-default-overlay-height: var(--npa-modal-overlay-height);
    --npa-modal-default-overlay-background-color: var(--npa-modal-overlay-background-color);

    --npa-modal-default-margin: var(--npa-modal-margin);
    --npa-modal-default-z-indez: var(--npa-modal-z-indez);
    --npa-modal-default-border: var(--npa-modal-border);
    --npa-modal-default-border-radius: var(--npa-modal-border-radius);
    --npa-modal-default-border-color: var(--npa-modal-border-color);
    --npa-modal-default-box-shadow: var(--npa-component-box-shadow);
    --npa-modal-default-background-color: var(--npa-modal-background-color);
    --npa-modal-default-padding: var(--npa-modal-padding);
    --npa-modal-default-spacing: var(--npa-modal-spacing);
    --npa-modal-default-spacing-vertical: var(--npa-modal-spacing-vertical);

    --npa-modal-default-close-control-color: var(--npa-modal-close-control-color);

    --npa-modal-default-header-height: var(--npa-modal-header-height);
    --npa-modal-default-header-separator-color: var(--npa-modal-header-separator-color);
    --npa-modal-default-header-color: var(--npa-modal-header-color);
    --npa-modal-default-header-full-window-border: var(--npa-modal-header-full-window-border);
    --npa-modal-default-header-box-shadow: var(--npa-modal-header-box-shadow);

    --npa-modal-default-body-overflow: var(--npa-modal-body-overflow);

    .npa-modal__box {
      .npa-modal__header {
        .npa-modal__title {
          flex: 1;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }

      .npa-modal__body {
        flex: 1;
        scrollbar-color: #cdd6df #fff;
        scrollbar-width: thin;
        &::-webkit-scrollbar-track {
          border-radius: 30px;
          border: solid 3px transparent;
        }
        &::-webkit-scrollbar {
          width: 9px;
          border-radius: 10px !important;
        }
        &::-webkit-scrollbar-thumb {
          box-shadow: inset 0 0 10px 10px #cdd6df;
          border-radius: 80px !important;
          border: solid 2px transparent;
        }
      }
    }
  }
}
