%npa-notification {
  .npa-notification {
    --npa-notification-default-position: var(--npa-notification-position);
    --npa-notification-default-padding: var(--npa-notification-padding);
    --npa-notification-default-width: var(--npa-notification-width);
    --npa-notification-default-min-width: var(--npa-notification-min-width);
    --npa-notification-default-max-width: var(--npa-notification-max-width);
    --npa-notification-default-top: var(--npa-notification-top);
    --npa-notification-default-left: var(--npa-notification-left);
    --npa-notification-default-z-index: var(--npa-notification-z-index);

    --npa-notification-default-border: var(--npa-notification-border);
    --npa-notification-default-border-radius: var(--npa-notification-border-radius);
    --npa-notification-default-box-shadow: var(--npa-notification-box-shadow);

    --npa-notification-default-text-color: var(--npa-notification-text-color);
    --npa-notification-default-border-color: var(--npa-notification-border-color);
    --npa-notification-default-background-color: var(--npa-notification-background-color);

    --npa-notification-default-icon-separation: var(--npa-notification-icon-separation);
    --npa-notification-default-close-control-separation: var(--npa-notification-close-control-separation);
    .npa-notification--message SPAN {
      * {
        color: inherit;
      }
      A {
        text-decoration: underline;
        cursor: pointer;
        &:hover {
          text-decoration: none;
        }
      }
    }
    &.npa-notification--info {
      .npa-notification--message SPAN A {
        text-decoration: none;
        color: var(--npa-notification-inside-link-color);
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
