%sds-notification {
  .sds-notification {
    --sds-notification-default-position: var(--sds-notification-position);
    --sds-notification-default-padding: var(--sds-notification-padding);
    --sds-notification-default-width: var(--sds-notification-width);
    --sds-notification-default-min-width: var(--sds-notification-min-width);
    --sds-notification-default-max-width: var(--sds-notification-max-width);
    --sds-notification-default-top: var(--sds-notification-top);
    --sds-notification-default-left: var(--sds-notification-left);
    --sds-notification-default-z-index: var(--sds-notification-z-index);

    --sds-notification-default-border: var(--sds-notification-border);
    --sds-notification-default-border-radius: var(--sds-notification-border-radius);
    --sds-notification-default-box-shadow: var(--sds-notification-box-shadow);

    --sds-notification-default-text-color: var(--sds-notification-text-color);
    --sds-notification-default-border-color: var(--sds-notification-border-color);
    --sds-notification-default-background-color: var(--sds-notification-background-color);

    --sds-notification-default-icon-separation: var(--sds-notification-icon-separation);
    --sds-notification-default-close-control-separation: var(--sds-notification-close-control-separation);
    .sds-notification--message SPAN {
      * {
        color: inherit;
      }
      A {
        text-decoration: underline;
        cursor: pointer;
        &:hover {
          text-decoration: none;
        }
      }
    }
    &.sds-notification--info {
      .sds-notification--message SPAN A {
        text-decoration: none;
        color: var(sds-notification-inside-link-color);
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
