@import './shared/mixins';

%sds-radio {
  INPUT[type=radio] {
    $radioCorrectionFactor: 1px;

    @include selectionElement(100%, $radioCorrectionFactor) {
      --tempRadio01: calc(var(--sds-selection-icon-size) / 2);
      --tempRadio02: calc(var(--sds-radio-internal-checked-size) / 2);
      left: calc(var(--tempRadio01) - var(--tempRadio02));
      bottom: calc(var(--tempRadio01) - var(--tempRadio02) - #{$radioCorrectionFactor} + var(--sds-selection-icon-spacer));
      width: var(--sds-radio-internal-checked-size);
      max-width: var(--sds-radio-internal-checked-size);
      height: var(--sds-radio-internal-checked-size);
      max-height: var(--sds-radio-internal-checked-size);
      background-color: var(--sds-selection-internal-checked-color);
      border-radius: 100%;
    }
  }
}
