%npa-report {
  DIV, SPAN {
    &.npa-report {
      display: block;
      color: var(--npa-report-color);
      padding-top: var(--npa-component-vertical-spacer);
      &.error {
        color: var(--npa-error-color);
      }
    }
  }
}
