@import './shared/common';
@import './shared/mixins';

%npa-select {
  LABEL.npa-label {
    & + SELECT.npa-select, & + INPUT.npa-select {
      @include textInputElement() {
        @extend %npa-default-disabled-component;
      }
      -webkit-appearance: none;
      -moz-appearance: none;
      text-overflow: unset;
      cursor: pointer;
      &::-ms-expand {
        display: none;
      }

      position: relative;
      padding-right: calc((var(--npa-component-padding-horizontal) * 2) + var(--npa-select-chevron-width));
      background: transparent var(--npa-select-chevron) no-repeat right var(--npa-component-padding-horizontal) center;
      background-size: var(--npa-select-chevron-width);
      &:disabled, &.disabled {
        background-image: var(--npa-select-chevron-disabled);
      }
      &:focus, &.focus {
        background-image: var(--npa-select-chevron-focus);
      }
      &.error, &:focus.error, &.focus.error {
        background-image: var(--npa-select-chevron-error);
        &:disabled, &.disabled {
          background-image: var(--npa-select-chevron-disabled);
        }
      }
    }
  }

  .npa-select__custom {
    width: var(--npa-component-width);
    min-width: var(--npa-component-width);
    LABEL.npa-label {
      padding-bottom: 0;
    }
  }
}
