%npa-spinner {
  .npa-spinner {
    --npa-spinner-default-display: var(--npa-spinner-display);
    --npa-spinner-default-size: var(--npa-spinner-size);
    --npa-spinner-default-line-width: var(--npa-spinner-line-width);
    --npa-spinner-default-color: var(--npa-spinner-color);
  }
}
