%sds-spinner {
  .sds-spinner {
    --sds-spinner-default-display: var(--sds-spinner-display);
    --sds-spinner-default-size: var(--sds-spinner-size);
    --sds-spinner-default-line-width: var(--sds-spinner-line-width);
    --sds-spinner-default-color: var(--sds-spinner-color);
  }
}
