%npa-tab {
  .npa-tab {
    --npa-tab-default-width: var(--npa-tab-width);
    --npa-tab-default-border: var(--npa-tab-border);
    --npa-tab-default-border-color: var(--npa-tab-border-color);

    --npa-tab-default-height: var(--npa-tab-height);

    --npa-tab-default-cell-padding: var(--npa-tab-cell-padding);
    --npa-tab-default-cell-margin-bottom: var(--npa-tab-cell-margin-bottom);
    --npa-tab-default-cell-color: var(--npa-tab-cell-color);
    --npa-tab-default-cell-hover-color: var(--npa-tab-cell-hover-color);
    --npa-tab-default-cell-hover-border-color: var(--npa-tab-cell-hover-border-color);
    --npa-tab-default-cell-cursor: var(--npa-tab-cell-cursor);

    --npa-tab-default-cell-active-padding-bottom: var(--npa-tab-cell-active-padding-bottom);
    --npa-tab-default-cell-active-color: var(--npa-tab-cell-active-color);
    --npa-tab-default-cell-active-border: var(--npa-tab-cell-active-border);
    --npa-tab-default-cell-active-border-color: var(--npa-tab-cell-active-border-color);
    --npa-tab-default-cell-active-cursor: var(--npa-tab-cell-active-cursor);
  }
}
