@import '../exportable/app.mixins';

%npa-tag {
  %npa-tag-icon {
    position: absolute;
    line-height: var(--npa-tag-height);
    color: inherit;
    top: -1px;
  }

  SPAN, DIV {
    &.npa-tag {
      display: table-cell;
      position: relative;
      width: fit-content;
      min-width: fit-content;
      height: var(--npa-tag-height);
      min-height: var(--npa-tag-height);
      box-sizing: border-box;
      color: var(--npa-tag-text-color);
      border: var(--npa-component-border);
      border-color: var(--npa-tag-border-color);
      border-radius: var(--npa-component-border-radius);
      background-color: var(--npa-tag-background-color);
      padding: var(--npa-component-padding-vertical) var(--npa-component-padding-horizontal);
      &.npa-tag--icon-left {
        padding-left: calc(var(--npa-component-padding-horizontal) + 1.1em + var(--npa-component-icon-left-spacer));
        I.npa-icon {
          @extend %npa-tag-icon;
          &.npa-icon--left {
            left: var(--npa-component-padding-horizontal);
          }
        }
      }
      &.npa-tag--icon-right {
        padding-right: calc(var(--npa-component-padding-horizontal) + 1.1em + var(--npa-component-icon-right-spacer));
        I.npa-icon {
          @extend %npa-tag-icon;
          &.npa-icon--right {
            right: var(--npa-component-padding-horizontal);
          }
          &.action {
            cursor: pointer;
          }
        }
      }

      &.npa-tag--interactive {
        cursor: pointer;
        &.npa-tag--selectable {
          cursor: default;
        }
        &:hover {
          color: var(--npa-tag-hover-text-color);
          border-color: var(--npa-tag-hover-border-color);
          background-color: var(--npa-tag-hover-background-color);
        }
        &:active, &.selected {
          color: var(--npa-tag-active-text-color);
          border-color: var(--npa-tag-active-border-color);
          background-color: var(--npa-tag-active-background-color);
        }
        &:disabled, &.disabled {
          color: var(--npa-tag-disabled-text-color);
          border-color: var(--npa-tag-disabled-border-color);
          background-color: var(--npa-tag-disabled-background-color);
          cursor: var(--npa-component-disabled-cursor);
          I.npa-icon {
            cursor: var(--npa-component-disabled-cursor);
          }
        }
      }
    }
  }
}
