%npa-tag-input {
  .npa-tag-input {
    &.npa-input {
      height: fit-content;
    }
    .npa-tag {
      margin: 2px;
      &.hide {
        opacity: 0;
      }
      & ~ .hide {
        position: absolute;
        z-index: -1;
      }
    }
  }
}
