@import '../exportable/app.mixins';

%sds-tag {
  %sds-tag-icon {
    position: absolute;
    line-height: var(--sds-tag-height);
    color: inherit;
    top: -1px;
  }

  SPAN, DIV {
    &.sds-tag {
      // @include createFlexBox(row, center, normal, nowrap);
      display: table-cell;
      position: relative;
      width: fit-content;
      min-width: fit-content;
      height: var(--sds-tag-height);
      min-height: var(--sds-tag-height);
      box-sizing: border-box;
      color: var(--sds-tag-text-color);
      border: var(--sds-component-border);
      border-color: var(--sds-tag-border-color);
      border-radius: var(--sds-component-border-radius);
      background-color: var(--sds-tag-background-color);
      padding: var(--sds-component-padding-vertical) var(--sds-component-padding-horizontal);
      &.sds-tag--icon-left {
        padding-left: calc(var(--sds-component-padding-horizontal) + 1.1em + var(--sds-component-icon-left-spacer));
        I.sds-icon {
          @extend %sds-tag-icon;
          &.sds-icon--left {
            left: var(--sds-component-padding-horizontal);
          }
        }
      }
      &.sds-tag--icon-right {
        padding-right: calc(var(--sds-component-padding-horizontal) + 1.1em + var(--sds-component-icon-right-spacer));
        I.sds-icon {
          @extend %sds-tag-icon;
          &.sds-icon--right {
            right: var(--sds-component-padding-horizontal);
          }
          &.action {
            cursor: pointer;
          }
        }
      }

      &.sds-tag--interactive {
        cursor: pointer;
        &.sds-tag--selectable {
          cursor: default;
        }
        &:hover {
          color: var(--sds-tag-hover-text-color);
          border-color: var(--sds-tag-hover-border-color);
          background-color: var(--sds-tag-hover-background-color);
        }
        &:active, &.selected {
          color: var(--sds-tag-active-text-color);
          border-color: var(--sds-tag-active-border-color);
          background-color: var(--sds-tag-active-background-color);
        }
        &:disabled, &.disabled {
          color: var(--sds-tag-disabled-text-color);
          border-color: var(--sds-tag-disabled-border-color);
          background-color: var(--sds-tag-disabled-background-color);
          cursor: var(--sds-component-disabled-cursor);
          I.sds-icon {
            cursor: var(--sds-component-disabled-cursor);
          }
        }
      }
    }
  }
}
