%sds-tag-input {
  .sds-tag-input {
    &.sds-input {
      height: fit-content;
    }
    .sds-tag {
      margin: 2px;
      &.hide {
        opacity: 0;
      }
      & ~ .hide {
        position: absolute;
        z-index: -1;
      }
    }
  }
}
