@import './shared/common';
@import './shared/mixins';

%npa-textarea {
  TEXTAREA.npa-textarea {
    @include textInputElement() {
      @extend %npa-textarea-disabled-component;
    };

    resize: var(--npa-textarea-resize);
    vertical-align: top;
    padding-top: unset;
  }
}
