// ###### Blocks
%npa-default-disabled-component {
  color: var(--npa-component-disabled-color);
  border-color: var(--npa-component-disabled-border-color);
  background-color: var(--npa-component-disabled-background-color);
  cursor: var(--npa-component-disabled-cursor);
}

%npa-textarea-disabled-component {
  @extend %npa-default-disabled-component;
  resize: none;
}
