// ###### Blocks
%sds-default-disabled-component {
  color: var(--sds-component-disabled-color);
  border-color: var(--sds-component-disabled-border-color);
  background-color: var(--sds-component-disabled-background-color);
  cursor: var(--sds-component-disabled-cursor);
}

%sds-textarea-disabled-component {
  @extend %sds-default-disabled-component;
  resize: none;
}
