//## Mixin for generate selection element basic structure.
//## PARAMETERS: selection-element
@mixin selectionElement($selectionElement) {
  display: none;
  & + LABEL {
    position: relative;
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    margin-right: var(--npa-selection-option-spacer);
    padding: var(--npa-selection-icon-spacer-vertical) 0 var(--npa-selection-icon-spacer-vertical) calc(var(--npa-selection-icon-size) + var(--npa-selection-icon-spacer));
    cursor: pointer;
    width: fit-content;
    white-space: nowrap;
    &:before {
      position: absolute;
      display: inline-block;
      content: '';
      box-sizing: border-box;
      z-index: var(--npa-selection-z-index-before);
      width: var(--npa-selection-icon-size);
      min-width: var(--npa-selection-icon-size);
      max-width: var(--npa-selection-icon-size);
      height: var(--npa-selection-icon-size);
      min-height: var(--npa-selection-icon-size);
      max-height: var(--npa-selection-icon-size);
      left: 0;
      border: var(--npa-component-border);
      border-color: var(--npa-component-border-color);
      @if $selectionElement == 'checkbox' {
        border-radius: var(--npa-checkbox-border-radius);
      }
      @if $selectionElement == 'radio' {
        border-radius: var(--npa-radio-border-radius);
      }
      background-color: var(--npa-component-background-color);
    }

    &:focus, &.focus {
      &:before {
        box-shadow: var(--npa-component-focus-box-shadow);
      }
    }
  }

  &:hover {
    & + LABEL {
      &:before {
        border-color: var(--npa-component-hover-border-color);
        background-color: var(--npa-component-hover-background-color);
      }
    }
  }

  &:disabled, &.disabled {
    & + LABEL {
      color: var(--npa-selection-disabled-tex-color);
      cursor: var(--npa-component-disabled-cursor);
      &:before {
        border-color: var(--npa-component-disabled-border-color);
        background-color: var(--npa-component-disabled-background-color);
      }
    }
    &:checked + LABEL {
      &:before {
        --npa-component-border: none;
        background-color: var(--npa-selection-checked-disabled-background-color);
      }
      &:after {
        --npa-checkbox-checked: var(--npa-checkbox-checked-disabled);
        --npa-radio-checked: var(--npa-radio-checked-disabled);
      }
    }
  }

  &:checked + LABEL {
    &:before {
      border-color: var(--npa-component-checked-border-color);
      background-color: var(--npa-component-checked-background-color);
    }
    &:after {
      position: absolute;
      display: inline-block;
      left: 0;
      content: '';
      z-index: var(--npa-selection-z-index-after);
      width: var(--npa-selection-icon-size);
      min-width: var(--npa-selection-icon-size);
      max-width: var(--npa-selection-icon-size);
      height: var(--npa-selection-icon-size);
      min-height: var(--npa-selection-icon-size);
      max-height: var(--npa-selection-icon-size);
      @if $selectionElement == 'checkbox' {
        background-image: var(--npa-checkbox-checked);
      }
      @if $selectionElement == 'radio' {
        background-image: var(--npa-radio-checked);
      }
      background-size: var(--npa-selection-icon-size) var(--npa-selection-icon-size);
    }
  }
  &.npa-selection--no-label + LABEL {
    font-size: 0;
  }
  &.npa-selection--vertical + LABEL {
    display: flex;
  }
  @content;
}

//## Mixin for generate input text element basic structure.
//## PARAMETERS: void
@mixin textInputElement() {
  width: var(--npa-component-width);
  min-width: var(--npa-component-width);
  height: var(--npa-component-height);
  min-height: var(--npa-component-height);
  box-sizing: border-box;
  padding: var(--npa-component-padding-vertical) var(--npa-component-padding-horizontal);
  border: var(--npa-component-border);
  color: var(--npa-component-color, inherit);
  border-color: var(--npa-component-border-color);
  border-radius: var(--npa-component-border-radius);
  background: var(--npa-component-background-color);

  &:hover {
    color: var(--npa-component-hover-color);
    border-color: var(--npa-component-hover-border-color);
    background-color: var(--npa-component-hover-background-color);
  }
  &:disabled, &.disabled {
    @content;
    &::placeholder, &.placeholder {
      color: var(--npa-component-placeholder-disabled-color);
    }
  }
  &:focus, &.focus {
    color: var(--npa-component-focus-color);
    border-color: var(--npa-component-focus-border-color);
    box-shadow: var(--npa-component-focus-box-shadow);
    background-color: var(--npa-component-focus-background-color);
    &::placeholder, &.placeholder {
      color: var(--npa-component-placeholder-color);
    }
  }
  &:focus.error, &.focus.error {
    color: var(--npa-component-focus-error-color);
    border-color: var(--npa-component-error-border-color);
    background-color: var(--npa-component-error-background-color);
    box-shadow: var(--npa-component-focus-error-box-shadow);
    &::placeholder, &.placeholder {
      color: var(--npa-component-placeholder-color);
    }
  }
  &.error {
    color: var(--npa-component-error-color);
    border-color: var(--npa-component-error-border-color);
    background-color: var(--npa-component-error-background-color);
    &:disabled, &.disabled {
      @content;
      &::placeholder, &.placeholder {
        color: var(--npa-component-placeholder-disabled-color);
      }
    }
  }
  &::placeholder, &.placeholder {
    color: var(--npa-component-placeholder-color);
  }
}
