@import 'exportable/app.colors';

$colorsAvailable: (
  st-blue: $colorStBlue,
  -white: $colorWhite,
  -black: $colorBlack,
  action-1: $colorAction1,
  action-2: $colorAction2,
  action-3: $colorAction3,
  action-4: $colorAction4,
  action-5: $colorAction5,
  action-6: $colorAction6,
  action-7: $colorAction7,
  action-8: $colorAction8,
  action-9: $colorAction9,
  space-1: $colorSpace1,
  space-2: $colorSpace2,
  space-3: $colorSpace3,
  space-4: $colorSpace4,
  space-5: $colorSpace5,
  space-6: $colorSpace6,
  space-7: $colorSpace7,
  space-8: $colorSpace8,
  space-9: $colorSpace9,
  space-10: $colorSpace10,
  space-11: $colorSpace11,
  space-12: $colorSpace12,
  space-13: $colorSpace13,
  space-14: $colorSpace14,
  space-15: $colorSpace15,
  space-16: $colorSpace16,
  space-17: $colorSpace17,
  aqua-1: $colorAqua1,
  aqua-2: $colorAqua2,
  aqua-3: $colorAqua3,
  aqua-4: $colorAqua4,
  aqua-5: $colorAqua5,
  aqua-6: $colorAqua6,
  aqua-7: $colorAqua7,
  aqua-8: $colorAqua8,
  aqua-9: $colorAqua9,
  coral-1: $colorCoral1,
  coral-2: $colorCoral2,
  coral-3: $colorCoral3,
  coral-4: $colorCoral4,
  coral-5: $colorCoral5,
  coral-6: $colorCoral6,
  coral-7: $colorCoral7,
  coral-8: $colorCoral8,
  coral-9: $colorCoral9,
  peach-1: $colorPeach1,
  peach-2: $colorPeach2,
  peach-3: $colorPeach3,
  peach-4: $colorPeach4,
  peach-5: $colorPeach5,
  peach-6: $colorPeach6,
  peach-7: $colorPeach7,
  peach-8: $colorPeach8,
  peach-9: $colorPeach9,
  purple-1: $colorPurple1,
  purple-2: $colorPurple2,
  purple-3: $colorPurple3,
  purple-4: $colorPurple4,
  purple-5: $colorPurple5,
  purple-6: $colorPurple6,
  purple-7: $colorPurple7,
  purple-8: $colorPurple8,
  purple-9: $colorPurple9,
  turquoise-1: $colorTurquoise1,
  turquoise-2: $colorTurquoise2,
  turquoise-3: $colorTurquoise3,
  turquoise-4: $colorTurquoise4,
  turquoise-5: $colorTurquoise5,
  turquoise-6: $colorTurquoise6,
  turquoise-7: $colorTurquoise7,
  turquoise-8: $colorTurquoise8,
  turquoise-9: $colorTurquoise9
);
