@import 'exportable/app.colors';

$colorsAvailable: (
  st-blue: $colorStBlue,
  -white: $colorWhite,
  -black: $colorBlack,
  action-1: $colorAction1,
  action-2: $colorAction2,
  action-3: $colorAction3,
  action-4: $colorAction4,
  action-5: $colorAction5,
  action-6: $colorAction6,
  action-7: $colorAction7,
  action-8: $colorAction8,
  action-9: $colorAction9,
  space-1: $colorSpace1,
  space-2: $colorSpace2,
  space-3: $colorSpace3,
  space-4: $colorSpace4,
  space-5: $colorSpace5,
  space-6: $colorSpace6,
  space-7: $colorSpace7,
  space-8: $colorSpace8,
  space-9: $colorSpace9,
  space-10: $colorSpace10,
  space-11: $colorSpace11,
  space-12: $colorSpace12,
  space-13: $colorSpace13,
  space-14: $colorSpace14,
  space-15: $colorSpace15,
  space-16: $colorSpace16,
  space-17: $colorSpace17,
  neutral-1: $colorNeutral1,
  neutral-2: $colorNeutral2,
  neutral-3: $colorNeutral3,
  neutral-4: $colorNeutral4,
  neutral-5: $colorNeutral5,
  neutral-6: $colorNeutral6,
  neutral-7: $colorNeutral7,
  neutral-8: $colorNeutral8,
  neutral-9: $colorNeutral9,
  neutral-10: $colorNeutral10,
  neutral-11: $colorNeutral11,
  neutral-12: $colorNeutral12,
  aqua-1: $colorAqua1,
  aqua-2: $colorAqua2,
  aqua-3: $colorAqua3,
  aqua-4: $colorAqua4,
  aqua-5: $colorAqua5,
  aqua-6: $colorAqua6,
  aqua-7: $colorAqua7,
  aqua-8: $colorAqua8,
  aqua-9: $colorAqua9,
  coral-1: $colorCoral1,
  coral-2: $colorCoral2,
  coral-3: $colorCoral3,
  coral-4: $colorCoral4,
  coral-5: $colorCoral5,
  coral-6: $colorCoral6,
  coral-7: $colorCoral7,
  coral-8: $colorCoral8,
  coral-9: $colorCoral9,
  gold-1: $colorGold1,
  gold-2: $colorGold2,
  gold-3: $colorGold3,
  gold-4: $colorGold4,
  gold-5: $colorGold5,
  gold-6: $colorGold6,
  gold-7: $colorGold7,
  gold-8: $colorGold8,
  gold-9: $colorGold9,
  green-1: $colorGreen1,
  green-2: $colorGreen2,
  green-3: $colorGreen3,
  green-4: $colorGreen4,
  green-5: $colorGreen5,
  green-6: $colorGreen6,
  green-7: $colorGreen7,
  green-8: $colorGreen8,
  green-9: $colorGreen9,
  lavender-1: $colorLavender1,
  lavender-2: $colorLavender2,
  lavender-3: $colorLavender3,
  lavender-4: $colorLavender4,
  lavender-5: $colorLavender5,
  lavender-6: $colorLavender6,
  lavender-7: $colorLavender7,
  lavender-8: $colorLavender8,
  lavender-9: $colorLavender9,
  olive-1: $colorOlive1,
  olive-2: $colorOlive2,
  olive-3: $colorOlive3,
  olive-4: $colorOlive4,
  olive-5: $colorOlive5,
  olive-6: $colorOlive6,
  olive-7: $colorOlive7,
  olive-8: $colorOlive8,
  olive-9: $colorOlive9,
  orange-1: $colorOrange1,
  orange-2: $colorOrange2,
  orange-3: $colorOrange3,
  orange-4: $colorOrange4,
  orange-5: $colorOrange5,
  orange-6: $colorOrange6,
  orange-7: $colorOrange7,
  orange-8: $colorOrange8,
  orange-9: $colorOrange9,
  peach-1: $colorPeach1,
  peach-2: $colorPeach2,
  peach-3: $colorPeach3,
  peach-4: $colorPeach4,
  peach-5: $colorPeach5,
  peach-6: $colorPeach6,
  peach-7: $colorPeach7,
  peach-8: $colorPeach8,
  peach-9: $colorPeach9,
  pink-1: $colorPink1,
  pink-2: $colorPink2,
  pink-3: $colorPink3,
  pink-4: $colorPink4,
  pink-5: $colorPink5,
  pink-6: $colorPink6,
  pink-7: $colorPink7,
  pink-8: $colorPink8,
  pink-9: $colorPink9,
  purple-1: $colorPurple1,
  purple-2: $colorPurple2,
  purple-3: $colorPurple3,
  purple-4: $colorPurple4,
  purple-5: $colorPurple5,
  purple-6: $colorPurple6,
  purple-7: $colorPurple7,
  purple-8: $colorPurple8,
  purple-9: $colorPurple9,
  turquoise-1: $colorTurquoise1,
  turquoise-2: $colorTurquoise2,
  turquoise-3: $colorTurquoise3,
  turquoise-4: $colorTurquoise4,
  turquoise-5: $colorTurquoise5,
  turquoise-6: $colorTurquoise6,
  turquoise-7: $colorTurquoise7,
  turquoise-8: $colorTurquoise8,
  turquoise-9: $colorTurquoise9,
  viking-1: $colorViking1,
  viking-2: $colorViking2,
  viking-3: $colorViking3,
  viking-4: $colorViking4,
  viking-5: $colorViking5,
  viking-6: $colorViking6,
  viking-7: $colorViking7,
  viking-8: $colorViking8,
  viking-9: $colorViking9
);
