@import 'exportable/app.base';

$templateBaseBackgroundColor: (
  background: $colorBackground,
  background-header: $colorBackgroundHeader,
  background-header-v2: $colorBackgroundHeaderV2,
  background-subheader: $colorBackgroundSubheader,
  background-toolbar: $colorBackgroundToolbar,
  background-sidebar: $colorBackgroundSidebar,
  background-footer: $colorBackgroundFooter
);
