// ###### Constants
$defaultIconFontFamilyNpa: 'Stratio Icon';
$defaultIconFontFamilyEgeo: 'ico_stratio';

// ###### Icons
$searchIcon: '\e036';
$emailIcon: '\e904';
$userIcon: '\e939';
$passwordIcon: '\e984';
$actionClearIcon: '\e117';
$arrowDownIcon: '\e63f';
$checkboxCheckedIcon: '\e64c';

// ###### FONTS
$fontComponentLabel: '.npa-font--14';
