@import '../../global/mixins';
@import '../../global/fonts/Inter';
@import '../../global/components/components';

@import './backroom/variables/common';
@import './backroom/font-sizes';

HTML {
  &.npa-brand-tpl, .npa-brand-tpl {
    font-size: $fontSizeRoot + px;
    line-height: $fontLineHeightFactor;

    * {
      font-family: Inter, sans-serif;
      color: var(--npa-color-text-default);
      outline: none;
    }

    @extend %npa-inter-typography-definition;
    &.npa-inter *, .npa-inter *, .npa-inter {
      font-family: Inter, sans-serif;
      @extend %npa-inter-typography-definition;
    }

    @include createFontDefinition($fontSizesText, $fontSizeRoot, $fontLineHeightFactor) {
      // ###### HEADERS
      @include createHeadersDefinition($fontSizesHeaders, $fontSizeRoot, $fontLineHeightFactor);

      // ###### DEFAULT WEIGHT AND STYLE
      .npa--bold {
        font-weight: bold;
      }
      .npa--italic {
        font-style: italic;
      }

      // ###### DEFAULT SIZE
      .npa-font--default {
        font-size: 1rem;
        line-height: $fontLineHeightFactor;
      }
    }

    @include createColorsDefinition($colorsAvailable);
    @extend %npa-global-vars;
  }
}
