$sanitasIconTableDefinitions: (
  i-misc-desfusion: 'eb72',
  i-misc-fusion: 'eb73',
  i-misc-desprogramar: 'eb71',
  i-misc-duplicated: 'eb6f',
  i-misc-filter-linear: 'eb70',
  i-misc-lines: 'eb6e',
  i-misc-filter-solid: 'eb6d',
  i-misc-user-linear-cancel: 'eb6b',
  i-misc-target-linear-cancel: 'eb6c',
  i-qr-code: 'eb6a',
  i-rounded-button-empty: 'eb68',
  i-rounded-button: 'eb69',
  i-check-hyphen-1px: 'eb66',
  i-check-hyphen-2px: 'eb67',
  i-bell-cancel: 'eb65',
  i-check-empty-1px: 'eb63',
  i-check-empty-2px: 'eb64',
  i-check: 'eb62',
  i-allergens-celery-linear: 'e900',
  i-allergens-egg-linear: 'e901',
  i-allergens-fish-linear: 'e902',
  i-allergens-gluten-linear: 'e903',
  i-allergens-lupine-linear: 'e904',
  i-allergens-milk-linear: 'e905',
  i-allergens-mustard-linear: 'e906',
  i-allergens-nuts-linear: 'e907',
  i-allergens-peanut-linear: 'e908',
  i-allergens-sea-food-linear: 'e909',
  i-allergens-sesame-linear: 'e90a',
  i-allergens-shellfish-linear: 'e90b',
  i-allergens-soy-linear: 'e90c',
  i-allergens-sulphites-linear: 'e90d',
  i-apps-android-solid: 'e90e',
  i-apps-apple-solid: 'e90f',
  i-apps-excel-solid: 'e910',
  i-apps-onedrive-solid: 'e911',
  i-apps-outlook-solid: 'e912',
  i-apps-planner-solid: 'e913',
  i-apps-powerpoint-solid: 'e914',
  i-apps-skype-linear: 'e915',
  i-apps-skype-solid: 'e916',
  i-apps-teams-solid: 'e917',
  i-apps-to-do-solid: 'e918',
  i-apps-word-solid: 'e919',
  i-apps-yammer-solid: 'e91a',
  i-dental-aesthetic-linear: 'e91b',
  i-dental-bruxism-linear: 'e91c',
  i-dental-cavities-linear: 'e91d',
  i-dental-chair-linear: 'e91e',
  i-dental-clean-linear: 'e91f',
  i-dental-clinic-linear: 'e920',
  i-dental-dentist-linear: 'e921',
  i-dental-endodontist-linear: 'e922',
  i-dental-extraction-linear: 'e923',
  i-dental-halitosis-linear: 'e924',
  i-dental-implant-linear: 'e925',
  i-dental-orthodontist-linear: 'e926',
  i-dental-orthopantomography-linear: 'e927',
  i-dental-pain-linear: 'e928',
  i-dental-pediatric-dentistry-linear: 'e929',
  i-dental-peridontist-linear: 'e92a',
  i-dental-prosthesis-linear: 'e92b',
  i-dental-reports-linear: 'e92c',
  i-dental-revision-linear: 'e92d',
  i-dental-snoring-linear: 'e92e',
  i-dental-splint-linear: 'e92f',
  i-dental-study-linear: 'e930',
  i-dental-tools-linear: 'e931',
  i-dental-tooth-sensitivity-linear: 'e932',
  i-dental-treatment-linear: 'e933',
  i-dental-veneer-linear: 'e934',
  i-elderly-animal-therapy-linear: 'e935',
  i-elderly-appetite-loss-linear: 'e936',
  i-elderly-application-linear: 'e937',
  i-elderly-avoid-change-linear: 'e938',
  i-elderly-avoid-confrintation-solid: 'e939',
  i-elderly-avoid-confrontation-linear: 'e93a',
  i-elderly-blankness-linear: 'e93b',
  i-elderly-care-apartments-linear: 'e93c',
  i-elderly-common-area-linear: 'e93d',
  i-elderly-compare-linear: 'e93e',
  i-elderly-courses-linear: 'e93f',
  i-elderly-courses-solid: 'e940',
  i-elderly-daily-task-linear: 'e941',
  i-elderly-day-care-home-linear: 'e942',
  i-elderly-dementia-experts-linear: 'e943',
  i-elderly-dementia-stage-linear: 'e944',
  i-elderly-dependence-level-linear: 'e945',
  i-elderly-disorientation-linear: 'e946',
  i-elderly-fast-scale-linear: 'e947',
  i-elderly-financing-linear: 'e948',
  i-elderly-hanger-linear: 'e949',
  i-elderly-home-aconditioning-linear: 'e94a',
  i-elderly-ictus-experts-linear: 'e94b',
  i-elderly-individual-care-linear: 'e94c',
  i-elderly-memory-loss-linear: 'e94d',
  i-elderly-modd-change-linear: 'e94e',
  i-elderly-musical-workshop-linear: 'e94f',
  i-elderly-no-interest-linear: 'e950',
  i-elderly-object-loss-linear: 'e951',
  i-elderly-occupational-therapy-linear: 'e952',
  i-elderly-open-door-linear: 'e953',
  i-elderly-pain-linear: 'e954',
  i-elderly-parkinson-experts-linear: 'e955',
  i-elderly-pathology-linear: 'e956',
  i-elderly-person-compromise-linear: 'e957',
  i-elderly-phone-list-linear: 'e958',
  i-elderly-reconsider-linear: 'e959',
  i-elderly-resident-linear: 'e95a',
  i-elderly-respect-linear: 'e95b',
  i-elderly-sadness-linear: 'e95c',
  i-elderly-same-question-emphasis-linear: 'e95d',
  i-elderly-save-phone-number-linear: 'e95e',
  i-elderly-search-care-apartment-linear: 'e95f',
  i-elderly-search-care-home-linear: 'e960',
  i-elderly-search-day-care-home-linear: 'e961',
  i-elderly-service-linear: 'e962',
  i-elderly-shower-linear: 'e963',
  i-elderly-split-task-linear: 'e964',
  i-elderly-split-task-solid: 'e965',
  i-elderly-time-track-loss-linear: 'e966',
  i-elderly-traditional-flavour-linear: 'e967',
  i-elderly-tremor-linear: 'e968',
  i-elderly-two-persons-linear: 'e969',
  i-elderly-visit-care-home-linear: 'e96a',
  i-elderly-wander-around-linear: 'e96b',
  i-elderly-weakness-linear: 'e96c',
  i-elderly-worng-decision-linear: 'e96d',
  i-elderly-writing-workshop-linear: 'e96e',
  i-employees-car-wash-linear: 'e96f',
  i-employees-car-wash-solid: 'e970',
  i-employees-motorbike-linear: 'e971',
  i-employees-organization-linear: 'e972',
  i-gym-aerobic-solid: 'e973',
  i-gym-dumbbells-linear: 'e974',
  i-gym-dumbbells-solid: 'e975',
  i-gym-fitbox-solid: 'e976',
  i-gym-gap-solid: 'e977',
  i-gym-healthy-back-solid: 'e978',
  i-gym-pilates-solid: 'e979',
  i-gym-spinning-solid: 'e97a',
  i-gym-step-solid: 'e97b',
  i-gym-yoga-linear: 'e97c',
  i-gym-yoga-solid: 'e97d',
  i-gym-zumba-solid: 'e97e',
  i-misc-advisor-linear: 'e97f',
  i-misc-aire-conditioning-linear: 'e980',
  i-misc-alcohol-linear: 'e981',
  i-misc-ambulance-linear: 'e982',
  i-misc-ambulance-solid: 'e983',
  i-misc-app-linear: 'e984',
  i-misc-appointment-add-linear: 'e985',
  i-misc-appointment-add-solid: 'e986',
  i-misc-appointment-chat-linear: 'e987',
  i-misc-appointment-chat-solid: 'e988',
  i-misc-appointment-edit-linear: 'e989',
  i-misc-appointment-edit-solid: 'e98a',
  i-misc-appointment-edit2-linear: 'e98b',
  i-misc-appointment-edit2-solid: 'e98c',
  i-misc-appointment-linear: 'e98d',
  i-misc-appointment-next-linear: 'e98e',
  i-misc-appointment-next-solid: 'e98f',
  i-misc-appointment-previous-linear: 'e990',
  i-misc-appointment-previous-solid: 'e991',
  i-misc-appointment-remove-linear: 'e992',
  i-misc-appointment-remove-solid: 'e993',
  i-misc-appointment-repeat-linear: 'e994',
  i-misc-appointment-repeat-solid: 'e995',
  i-misc-appointment-solid: 'e996',
  i-misc-at-linear: 'e997',
  i-misc-authorizations-linear: 'e998',
  i-misc-authorizations-solid: 'e999',
  i-misc-authorizations2-linear: 'e99a',
  i-misc-baby-boy-linear: 'e99b',
  i-misc-baby-girl-linear: 'e99c',
  i-misc-bag-linear: 'e99d',
  i-misc-bag-solid: 'e99e',
  i-misc-bed-linear: 'e99f',
  i-misc-bell-linear: 'e9a0',
  i-misc-bell-solid: 'e9a1',
  i-misc-billing-linear: 'e9a2',
  i-misc-blipo: 'e9a3',
  i-misc-blog-linear: 'e9a4',
  i-misc-blood-pressure-linear: 'e9a5',
  i-misc-blua-linear: 'e9a6',
  i-misc-blua-solid: 'e9a7',
  i-misc-books-linear: 'e9a8',
  i-misc-box-linear: 'e9a9',
  i-misc-boy-linear: 'e9aa',
  i-misc-bra-linear: 'e9ab',
  i-misc-breast-linear: 'e9ac',
  i-misc-briefcase-linear: 'e9ad',
  i-misc-briefcase-solid: 'e9ae',
  i-misc-building-linear: 'e9af',
  i-misc-building-solid: 'e9b0',
  i-misc-bulb-off-linear: 'e9b1',
  i-misc-bulb-off-solid: 'e9b2',
  i-misc-bulb-on-linear: 'e9b3',
  i-misc-bulb-on-solid: 'e9b4',
  i-misc-bupa-card-linear: 'e9b5',
  i-misc-bupa-card-solid: 'e9b6',
  i-misc-bus-linear: 'e9b7',
  i-misc-calculator-linear: 'e9b8',
  i-misc-calculator-solid: 'e9b9',
  i-misc-calendar-info-linear: 'e9ba',
  i-misc-calendar-info-solid: 'e9bb',
  i-misc-calendar-linear: 'e9bc',
  i-misc-calendar-solid: 'e9bd',
  i-misc-call-bell-linear: 'e9be',
  i-misc-call-bell-solid: 'e9bf',
  i-misc-camera-off-linear: 'e9c0',
  i-misc-camera-off-solid: 'e9c1',
  i-misc-camera-on-linear: 'e9c2',
  i-misc-camera-on-solid: 'e9c3',
  i-misc-camera-switch-linear: 'e9c4',
  i-misc-camera-switch-solid: 'e9c5',
  i-misc-car-linear: 'e9c6',
  i-misc-car-park-linear: 'e9c7',
  i-misc-car-solid: 'e9c8',
  i-misc-card-linear: 'e9c9',
  i-misc-cards-linear: 'e9ca',
  i-misc-chat-linear: 'e9cb',
  i-misc-chat-solid: 'e9cc',
  i-misc-check-off-linear: 'e9cd',
  i-misc-check-on-linear: 'e9ce',
  i-misc-clinic-analysis-linear: 'e9cf',
  i-misc-clinic-analysis-solid: 'e9d0',
  i-misc-clinic-linear: 'e9d1',
  i-misc-clock-linear: 'e9d2',
  i-misc-clock-solid: 'e9d4',
  i-misc-co-payment-dollar-linear: 'e9d5',
  i-misc-co-payment-dollar-solid: 'e9d6',
  i-misc-co-payment-linear: 'e9d7',
  i-misc-co-payment-solid: 'e9d8',
  i-misc-coffee-linear: 'e9d9',
  i-misc-computer-desktop-linear: 'e9da',
  i-misc-computer-laptop-linear: 'e9db',
  i-misc-contact-linear: 'e9dc',
  i-misc-contact-solid: 'e9dd',
  i-misc-couple-linear: 'e9de',
  i-misc-cross-linear: 'e9df',
  i-misc-decrease-linear: 'e9e0',
  i-misc-digital-consultation-linear: 'e9e1',
  i-misc-digital-consultation-solid: 'e9e2',
  i-misc-doctor-advice-linear: 'e9e3',
  i-misc-doctor-information-linear: 'e9e4',
  i-misc-doctor-linear: 'e9e5',
  i-misc-doctor-solid: 'e9e6',
  i-misc-document-blank-linear: 'e9e7',
  i-misc-document-checked-linear: 'e9e8',
  i-misc-document-checked-solid: 'e9e9',
  i-misc-document-image-linear: 'e9ea',
  i-misc-document-info-linear: 'e9eb',
  i-misc-document-info-solid: 'e9ec',
  i-misc-document-pdf-linear: 'e9ed',
  i-misc-document-text-linear: 'e9ee',
  i-misc-document-text-solid: 'e9ef',
  i-misc-documentation-linear: 'e9f0',
  i-misc-documentation-solid: 'e9f1',
  i-misc-dollar-linear: 'e9f2',
  i-misc-dollar-solid: 'e9f3',
  i-misc-draft-linear: 'e9f4',
  i-misc-dropper-linear: 'e9f5',
  i-misc-elderly-linear: 'e9f6',
  i-misc-elderly-solid: 'e9f7',
  i-misc-emergency-linear: 'e9f8',
  i-misc-envelope-linear: 'e9f9',
  i-misc-envelope-read-linear: 'e9fa',
  i-misc-envelope-send-linear: 'e9fb',
  i-misc-envelope-send-solid: 'e9fc',
  i-misc-envelope-solid: 'e9fd',
  i-misc-euro-linear: 'e9fe',
  i-misc-euro-solid: 'e9ff',
  i-misc-evening-linear: 'ea00',
  i-misc-exercise-linear: 'ea01',
  i-misc-eye-linear: 'ea02',
  i-misc-face-neutral-linear: 'ea03',
  i-misc-face-sad-linear: 'ea04',
  i-misc-face-smile-linear: 'ea05',
  i-misc-factory-linear: 'ea06',
  i-misc-factory-solid: 'ea07',
  i-misc-fast-linear: 'ea08',
  i-misc-favorite-linear: 'ea09',
  i-misc-favorite-solid: 'ea0a',
  i-misc-feeding-bottle-linear: 'ea0b',
  i-misc-female-linear: 'ea0c',
  i-misc-female-solid: 'ea0d',
  i-misc-first-aid-linear: 'ea0e',
  i-misc-folder-linear: 'ea0f',
  i-misc-folder-solid: 'ea10',
  i-misc-food-linear: 'ea11',
  i-misc-food2-linear: 'ea12',
  i-misc-generic-linear: 'ea13',
  i-misc-gift-linear: 'ea14',
  i-misc-girl-linear: 'ea15',
  i-misc-glucose-linear: 'ea16',
  i-misc-hand-linear: 'ea17',
  i-misc-handicapped-linear: 'ea18',
  i-misc-health-advisor-linear: 'ea19',
  i-misc-health-programs-linear: 'ea1a',
  i-misc-height-linear: 'ea1b',
  i-misc-help-linear: 'ea1c',
  i-misc-history-linear: 'ea1d',
  i-misc-holiday-linear: 'ea1e',
  i-misc-home-down-linear: 'ea1f',
  i-misc-home-down-solid: 'ea20',
  i-misc-home-linear: 'ea21',
  i-misc-home-solid: 'ea22',
  i-misc-home-up-linear: 'ea23',
  i-misc-home-up-solid: 'ea24',
  i-misc-hospital-linear: 'ea25',
  i-misc-hospital-solid: 'ea26',
  i-misc-hygiene-linear: 'ea27',
  i-misc-image-linear: 'ea28',
  i-misc-impotence-linear: 'ea29',
  i-misc-increase-linear: 'ea2a',
  i-misc-information-linear: 'ea2b',
  i-misc-information-solid: 'ea2c',
  i-misc-injuries-linear: 'ea2d',
  i-misc-invoice-dollar-linear: 'ea2e',
  i-misc-invoice-dollar-solid: 'ea2f',
  i-misc-isapre-linear: 'ea30',
  i-misc-isapre-solid: 'ea31',
  i-misc-iwatch-linear: 'ea32',
  i-misc-key-linear: 'ea33',
  i-misc-list-linear: 'ea34',
  i-misc-location-linear: 'ea35',
  i-misc-location-solid: 'ea36',
  i-misc-lock-linear: 'ea37',
  i-misc-lock-opened-linear: 'ea38',
  i-misc-lock-opened-solid: 'ea39',
  i-misc-lock-solid: 'ea3a',
  i-misc-magnetic-resonance-linear: 'ea3b',
  i-misc-magnifying-glass-cross-linear: 'ea3c',
  i-misc-magnifying-glass-cross-solid: 'ea3d',
  i-misc-magnifying-glass-heart-linear: 'ea3e',
  i-misc-magnifying-glass-heart-solid: 'ea3f',
  i-misc-magnifying-glass-info-linear: 'ea40',
  i-misc-magnifying-glass-info-solid: 'ea41',
  i-misc-magnifying-glass-linear: 'ea42',
  i-misc-magnifying-glass-solid: 'ea43',
  i-misc-male-linear: 'ea44',
  i-misc-male-solid: 'ea45',
  i-misc-man-linear: 'ea46',
  i-misc-map-linear: 'ea47',
  i-misc-map2-linear: 'ea48',
  i-misc-medication-linear: 'ea49',
  i-misc-medication2-linear: 'ea4a',
  i-misc-megaphone-linear: 'ea4b',
  i-misc-megaphone-solid: 'ea4c',
  i-misc-metrics-linear: 'ea4d',
  i-misc-mic-off-linear: 'ea4e',
  i-misc-mic-off-solid: 'ea4f',
  i-misc-mic-on-linear: 'ea50',
  i-misc-mic-on-solid: 'ea51',
  i-misc-mobile-linear: 'ea52',
  i-misc-mobile-solid: 'ea53',
  i-misc-news-linear: 'ea54',
  i-misc-news-solid: 'ea55',
  i-misc-no-smoking-linear: 'ea56',
  i-misc-nose-linear: 'ea57',
  i-misc-nuclear-medicine-linear: 'ea58',
  i-misc-nursery-linear: 'ea59',
  i-misc-nursery-solid: 'ea5a',
  i-misc-paper-clip-linear: 'ea5b',
  i-misc-paper-plane-send-linear: 'ea5c',
  i-misc-payment-calendar-linear: 'ea5d',
  i-misc-payment-calendar-solid: 'ea5e',
  i-misc-pencil-linear: 'ea5f',
  i-misc-pencil-solid: 'ea60',
  i-misc-people-linear: 'ea61',
  i-misc-people-ok-linear: 'ea62',
  i-misc-people-ok-solid: 'ea63',
  i-misc-people-solid: 'ea64',
  i-misc-personal-day-linear: 'ea65',
  i-misc-pharmacy-bag-linear: 'ea66',
  i-misc-pharmacy-bag-solid: 'ea67',
  i-misc-pharmacy-linear: 'ea68',
  i-misc-phone-24h-linear: 'ea69',
  i-misc-phone-endcall-linear: 'ea6a',
  i-misc-phone-endcall-solid: 'ea6b',
  i-misc-phone-linear: 'ea6c',
  i-misc-phone-solid: 'ea6d',
  i-misc-plane-linear: 'ea6e',
  i-misc-pointer-linear: 'ea6f',
  i-misc-pointer-solid: 'ea70',
  i-misc-postal-card-linear: 'ea71',
  i-misc-pound-linear: 'ea72',
  i-misc-pound-solid: 'ea73',
  i-misc-price-linear: 'ea74',
  i-misc-printer-linear: 'ea75',
  i-misc-printer-solid: 'ea76',
  i-misc-process-linear: 'ea77',
  i-misc-purse-linear: 'ea78',
  i-misc-purse-solid: 'ea79',
  i-misc-pushpin-linear: 'ea7a',
  i-misc-quality-linear: 'ea7b',
  i-misc-questionnaire-linear: 'ea7c',
  i-misc-radiography-linear: 'ea7d',
  i-misc-recipe-digital-linear: 'ea7e',
  i-misc-recipe-linear: 'ea7f',
  i-misc-refunds-dollar-linear: 'ea80',
  i-misc-refunds-dollar-solid: 'ea81',
  i-misc-refunds-linear: 'ea82',
  i-misc-refunds-solid: 'ea83',
  i-misc-relatives-linear: 'ea84',
  i-misc-report-linear: 'ea85',
  i-misc-report-solid: 'ea86',
  i-misc-report2-linear: 'ea87',
  i-misc-reports-linear: 'ea88',
  i-misc-reports-solid: 'ea89',
  i-misc-return-linear: 'ea8a',
  i-misc-return-solid: 'ea8b',
  i-misc-running-linear: 'ea8c',
  i-misc-sand-clock-linear: 'ea8d',
  i-misc-search-doctor-linear: 'ea8e',
  i-misc-search-people-linear: 'ea8f',
  i-misc-search-people-solid: 'ea90',
  i-misc-second-opinion-linear: 'ea91',
  i-misc-settings-linear: 'ea92',
  i-misc-sex-linear: 'ea93',
  i-misc-shield-cross-linear: 'ea94',
  i-misc-shield-cross-solid: 'ea95',
  i-misc-shrine-linear: 'ea96',
  i-misc-sleep-linear: 'ea97',
  i-misc-smoking-linear: 'ea98',
  i-misc-star-linear: 'ea99',
  i-misc-star-solid: 'ea9a',
  i-misc-subway-linear: 'ea9b',
  i-misc-sun-linear: 'ea9c',
  i-misc-swimming-linear: 'ea9d',
  i-misc-tag-linear: 'ea9e',
  i-misc-talk-linear: 'ea9f',
  i-misc-target-linear: 'eaa0',
  i-misc-target-solid: 'eaa1',
  i-misc-test-tube-linear: 'eaa2',
  i-misc-text-edit-linear: 'eaa3',
  i-misc-thumb-down-linear: 'eaa4',
  i-misc-thumb-down-solid: 'eaa5',
  i-misc-thumb-up-linear: 'eaa6',
  i-misc-thumb-up-solid: 'eaa7',
  i-misc-tic-double-linear: 'eaa8',
  i-misc-tic-single-linear: 'eaa9',
  i-misc-ticket-linear: 'eaaa',
  i-misc-ticket-solid: 'eaab',
  i-misc-tis-linear: 'eaac',
  i-misc-tis-solid: 'eaad',
  i-misc-train-linear: 'eaae',
  i-misc-transportation-linear: 'eaaf',
  i-misc-trash-linear: 'eab0',
  i-misc-trash-solid: 'eab1',
  i-misc-ultrasound-linear: 'eab2',
  i-misc-user-edit-linear: 'eab3',
  i-misc-user-edit-solid: 'eab4',
  i-misc-user-linear: 'eab5',
  i-misc-user-rounded-linear: 'eab6',
  i-misc-user-rounded-solid: 'eab7',
  i-misc-user-solid: 'eab8',
  i-misc-uvi-linear: 'eab9',
  i-misc-video-linear: 'eaba',
  i-misc-video-off-linear: 'eabb',
  i-misc-video-off-solid: 'eabc',
  i-misc-video-solid: 'eabd',
  i-misc-videocall-linear: 'eabe',
  i-misc-videocall-solid: 'eabf',
  i-misc-videocall2-linear: 'eac0',
  i-misc-videochat-linear: 'eac1',
  i-misc-volume-minimun-linear: 'eac2',
  i-misc-volume-minimun-solid: 'eac3',
  i-misc-volume-minus-linear: 'eac4',
  i-misc-volume-minus-solid: 'eac5',
  i-misc-volume-off-linear: 'eac6',
  i-misc-volume-off-solid: 'eac7',
  i-misc-volume-on-linear: 'eac8',
  i-misc-volume-on-solid: 'eac9',
  i-misc-waiting-room-linear: 'eaca',
  i-misc-waiting-room-solid: 'eacb',
  i-misc-walking-linear: 'eacc',
  i-misc-wc-linear: 'eacd',
  i-misc-weight-linear: 'eace',
  i-misc-whatsapp-linear: 'eacf',
  i-misc-wifi-linear: 'ead0',
  i-misc-woman-linear: 'ead1',
  i-misc-world-linear: 'ead2',
  i-misc-world-solid: 'ead3',
  i-nav-abandom: 'ead4',
  i-nav-add-picture: 'ead5',
  i-nav-alert-linear: 'ead6',
  i-nav-alert-solid: 'ead7',
  i-nav-app-back: 'ead8',
  i-nav-app-close: 'ead9',
  i-nav-app-menu-close: 'eada',
  i-nav-app-menu: 'eadb',
  i-nav-arrow-down-lite: 'eadc',
  i-nav-arrow-down: 'eadd',
  i-nav-arrow-left-lite: 'eade',
  i-nav-arrow-left: 'eadf',
  i-nav-arrow-right-lite: 'eae0',
  i-nav-arrow-right: 'eae1',
  i-nav-arrow-up-lite: 'eae2',
  i-nav-arrow-up: 'eae3',
  i-nav-button-close-linear: 'eae4',
  i-nav-button-close-solid: 'eae5',
  i-nav-button-down: 'eae6',
  i-nav-button-left: 'eae7',
  i-nav-button-right: 'eae8',
  i-nav-button-up: 'eae9',
  i-nav-close-lite: 'eaea',
  i-nav-close: 'eaeb',
  i-nav-copy-linear: 'eaec',
  i-nav-copy-solid: 'eaed',
  i-nav-download-2: 'eaee',
  i-nav-download: 'eaef',
  i-nav-enlarge: 'eaf0',
  i-nav-error-linear: 'eaf1',
  i-nav-error-solid: 'eaf2',
  i-nav-face-ID-login: 'eaf3',
  i-nav-face-ID: 'eaf4',
  i-nav-filter: 'eaf5',
  i-nav-fingerprint-android: 'eaf6',
  i-nav-fingerprint-iOS: 'eaf7',
  i-nav-forbidden-linear: 'eaf8',
  i-nav-forbidden-solid: 'eaf9',
  i-nav-logout: 'eafa',
  i-nav-maximize: 'eafb',
  i-nav-menu-linear: 'eafc',
  i-nav-menu-solid: 'eafd',
  i-nav-minus-lite-linear: 'eafe',
  i-nav-minus-lite-solid: 'eaff',
  i-nav-minus: 'eb00',
  i-nav-more-h-lite: 'eb01',
  i-nav-more-h: 'eb02',
  i-nav-more-v-lite: 'eb03',
  i-nav-more-v: 'eb04',
  i-nav-move: 'eb05',
  i-nav-new-window: 'eb06',
  i-nav-ok-lite-linear: 'eb07',
  i-nav-ok-lite-solid: 'eb08',
  i-nav-ok: 'eb09',
  i-nav-ordenation: 'eb0a',
  i-nav-pause-lite: 'eb0b',
  i-nav-pause: 'eb0c',
  i-nav-play-lite: 'eb0d',
  i-nav-play: 'eb0e',
  i-nav-plus-lite-linear: 'eb0f',
  i-nav-plus-lite-solid: 'eb10',
  i-nav-plus-lite: 'eb11',
  i-nav-plus: 'eb12',
  i-nav-reduce: 'eb13',
  i-nav-reload: 'eb14',
  i-nav-share-screen-linear: 'eb15',
  i-nav-share-screen-solid: 'eb16',
  i-nav-share: 'eb17',
  i-nav-share2-linear: 'eb18',
  i-nav-stop-lite: 'eb19',
  i-nav-stop: 'eb1a',
  i-nav-upload: 'eb1b',
  i-nav-upload2: 'eb1c',
  i-nav-wait: 'eb1d',
  i-nav-window-max: 'eb1e',
  i-nav-window-min: 'eb1f',
  i-social-facebook: 'eb20',
  i-social-google-plus: 'eb21',
  i-social-linkedin: 'eb22',
  i-social-twitter: 'eb23',
  i-social-youtube: 'eb24',
  i-specialties-acupunture-linear: 'eb25',
  i-specialties-aesthetic-surgery-linear: 'eb26',
  i-specialties-aesthetic-surgery2-linear: 'eb27',
  i-specialties-allergist-linear: 'eb28',
  i-specialties-anesthesiologist-linear: 'eb29',
  i-specialties-assited-reproduction-linear: 'eb2a',
  i-specialties-body-aesthetics-linear: 'eb2b',
  i-specialties-body-aesthetics-solid: 'eb2c',
  i-specialties-cardiology-linear: 'eb2d',
  i-specialties-childcare-linear: 'eb2e',
  i-specialties-chiropractic-linear: 'eb2f',
  i-specialties-dentistry-linear: 'eb30',
  i-specialties-dentistry-solid: 'eb31',
  i-specialties-dermatology-linear: 'eb32',
  i-specialties-dermatology2-linear: 'eb33',
  i-specialties-dietist-nutrition-linear: 'eb34',
  i-specialties-dietist-nutrition2-linear: 'eb35',
  i-specialties-digestive-linear: 'eb36',
  i-specialties-endocrinology-linear: 'eb37',
  i-specialties-general-medicine-linear: 'eb38',
  i-specialties-geriatrician-linear: 'eb39',
  i-specialties-hematology-linear: 'eb3a',
  i-specialties-homeopathy-linear: 'eb3b',
  i-specialties-interist-linear: 'eb3c',
  i-specialties-interist-solid: 'eb3d',
  i-specialties-maternal-medicine-linear: 'eb3e',
  i-specialties-maxillofacial-surgeon-linear: 'eb3f',
  i-specialties-maxillofacial-surgery-linear: 'eb40',
  i-specialties-nephrologist-linear: 'eb41',
  i-specialties-neurologist-linear: 'eb42',
  i-specialties-neurophysiologist-linear: 'eb43',
  i-specialties-neurosurgeon-linear: 'eb44',
  i-specialties-obstetrics-gynecologic-linear: 'eb45',
  i-specialties-oncologist-linear: 'eb46',
  i-specialties-ophtalmologist-linear: 'eb47',
  i-specialties-otolaryngologist-linear: 'eb48',
  i-specialties-pathologist-linear: 'eb49',
  i-specialties-pediatric-surgeon-linear: 'eb4a',
  i-specialties-pediatrician-linear: 'eb4b',
  i-specialties-pediatrician-solid: 'eb4c',
  i-specialties-pediatrician2-linear: 'eb4d',
  i-specialties-pelvic-floor-linear: 'eb4e',
  i-specialties-physical-therapist-linear: 'eb4f',
  i-specialties-pneumologist-linear: 'eb50',
  i-specialties-podiatrist-linear: 'eb51',
  i-specialties-psicology-linear: 'eb52',
  i-specialties-psychiatrist-linear: 'eb53',
  i-specialties-psychiatrist2-linear: 'eb54',
  i-specialties-psycologist-linear: 'eb55',
  i-specialties-radiologist-linear: 'eb56',
  i-specialties-rehabilitation-linear: 'eb57',
  i-specialties-rheumatologist-linear: 'eb58',
  i-specialties-robotic-surgery-linear: 'eb59',
  i-specialties-speech-therapy-linear: 'eb5a',
  i-specialties-speech-therapy2-linear: 'eb5b',
  i-specialties-surgery-linear: 'eb5c',
  i-specialties-theracic-surgery-linear: 'eb5d',
  i-specialties-trauma-linear: 'eb5e',
  i-specialties-urologist-linear: 'eb5f',
  i-specialties-vascular-surgery-linear: 'eb60',
  i-specialties-vascular-surgery2-linear: 'eb61'
);
