@import '../../../global/mixins';
@import './variables/sass';

@import './font-sizes';

%npa-components-template {
  LABEL {
    &.npa-label, &.npa-label.npa-label--small {
      @include defineFontSizeElement(14, $fontSizeRoot, $fontLineHeightFactor);
    }
  }

  INPUT, SPAN, DIV {
    &.npa-input {
      @include defineFontSizeElement(16, $fontSizeRoot, $fontLineHeightFactor);
      &.npa-input--small {
        --npa-component-height: #{getRemRelativeSize(32, $fontSizeRoot)};
        --npa-component-padding-horizontal: #{getRemRelativeSize(8, $fontSizeRoot)};
        @include defineFontSizeElement(14, $fontSizeRoot, $fontLineHeightFactor);
      }
    }
  }

  INPUT[type=radio], INPUT[type=checkbox] {
    & + LABEL {
      @include defineFontSizeElement(16, $fontSizeRoot, $fontLineHeightFactor);
    }
  }

  SPAN, DIV {
    &.npa-report {
      @include defineFontSizeElement(14, $fontSizeRoot, $fontLineHeightFactor);
    }
  }

  TEXTAREA.npa-textarea {
    padding-top: calc((var(--npa-component-height) - (#{getRemRelativeSize(16, $fontSizeRoot)} * #{$fontLineHeightFactor})) / 2);
    @include defineFontSizeElement(16, $fontSizeRoot, $fontLineHeightFactor);
    &.npa-textarea--small {
      --npa-component-height: #{getRemRelativeSize(32, $fontSizeRoot)};
      --npa-component-padding-horizontal: #{getRemRelativeSize(8, $fontSizeRoot)};
      padding-top: calc((var(--npa-component-height) - (#{getRemRelativeSize(14, $fontSizeRoot)} * #{$fontLineHeightFactor})) / 2);
      @include defineFontSizeElement(14, $fontSizeRoot, $fontLineHeightFactor);
    }
  }

  SELECT, SPAN, DIV {
    @include defineFontSizeElement(16, $fontSizeRoot, $fontLineHeightFactor);
    &.npa-select--small {
      --npa-component-height: #{getRemRelativeSize(32, $fontSizeRoot)};
      --npa-component-padding-horizontal: #{getRemRelativeSize(8, $fontSizeRoot)};
      @include defineFontSizeElement(14, $fontSizeRoot, $fontLineHeightFactor);
    }
    &.npa-select--filter {
      --npa-component-height: fit-content;
      --npa-component-width: fit-content;
      --npa-component-padding-vertical: 0;
    }
    &.npa-select--placeholder {
      color: var(--npa-component-placeholder-color);
    }
  }

  BUTTON {
    &.npa-button {
      --npa-component-padding-horizontal: #{getRemRelativeSize(20, $fontSizeRoot)};
      --npa-component-icon-left-spacer: #{getRemRelativeSize(8, $fontSizeRoot)};
      --npa-component-border-radius: #{getRemRelativeSize(20, $fontSizeRoot)};
      @include defineFontSizeElement(16, $fontSizeRoot, $fontLineHeightFactor);
      &.npa-button--small {
        --npa-component-height: #{getRemRelativeSize(32, $fontSizeRoot)};
        @include defineFontSizeElement(14, $fontSizeRoot, $fontLineHeightFactor);
        I.npa-icon {
          --npa-button-icon-spacer: #{getRemRelativeSize(4, $fontSizeRoot)};
        }
      }
      &.npa-button--secondary, &.npa-button--bob {
        --npa-button-color: var(--npa-color-action);
        --npa-button-border-color: var(--npa-color-action);
        --npa-button-background-color: transparent;
        --npa-button-hover-color: var(--npa-color-action-120);
        --npa-button-hover-border-color: var(--npa-color-action-120);
        --npa-button-hover-background-color: var(--npa-color-space-5);
        --npa-button-active-color: var(--npa-color-action-150);
        --npa-button-active-border-color: var(--npa-color-action-150);
        --npa-button-active-background-color: var(--npa-color-space-10);
      }
      &.npa-button--third {
        --npa-button-color: var(--npa-color-space-80);
        --npa-button-border-color: var(--npa-color-space-5);
        --npa-button-background-color: var(--npa-color-space-5);
        --npa-button-hover-color: var(--npa-color-space);
        --npa-button-hover-border-color: var(--npa-color-space-10);
        --npa-button-hover-background-color: var(--npa-color-space-10);
        --npa-button-active-color: var(--npa-color-space-110);
        --npa-button-active-border-color: var(--npa-color-space-5);
        --npa-button-active-background-color: var(--npa-color-space-5);
      }
      &.npa-button--critical {
        --npa-button-color: var(--npa-color-neutral-full);
        --npa-button-border-color: var(--npa-color-critical);
        --npa-button-background-color: var(--npa-color-critical);
        --npa-button-hover-color: var(--npa-color-neutral-full);
        --npa-button-hover-border-color: var(--npa-color-critical-120);
        --npa-button-hover-background-color: var(--npa-color-critical-120);
        --npa-button-active-color: var(--npa-color-neutral-full);
        --npa-button-active-border-color: var(--npa-color-critical-140);
        --npa-button-active-background-color: var(--npa-color-critical-140);
      }
      //&.npa-button--icon-only {
      //  --npa-component-padding-horizontal: #{getRemRelativeSize(11, $fontSizeRoot)};
      //  --npa-component-padding-vertical: #{getRemRelativeSize(9, $fontSizeRoot)};
      //  I.npa-icon {
      //    margin: #{getRemRelativeSize(2, $fontSizeRoot)} 0;
      //  }
      //  &.npa-button--small {
      //    --npa-component-padding-horizontal: #{getRemRelativeSize(7, $fontSizeRoot)};
      //    --npa-component-padding-vertical: #{getRemRelativeSize(7, $fontSizeRoot)};
      //    I.npa-icon {
      //      margin: 0;
      //    }
      //  }
      //}
    }
  }

  SPAN, DIV {
    &.npa-tag {
      --npa-component-padding-horizontal: #{getRemRelativeSize(8, $fontSizeRoot)};
      font-size: getRemRelativeSize(16, $fontSizeRoot);
      line-height: calc(var(--npa-tag-height) - #{getRemRelativeSize(2, $fontSizeRoot)});
      &.npa-tag--medium {
        --npa-component-icon-spacer: #{getRemRelativeSize(4, $fontSizeRoot)};
        --npa-tag-height: #{getRemRelativeSize(24, $fontSizeRoot)};
        font-size: getRemRelativeSize(14, $fontSizeRoot);
      }
      &.npa-tag--small {
        --npa-component-icon-spacer: #{getRemRelativeSize(4, $fontSizeRoot)};
        --npa-tag-height: #{getRemRelativeSize(18, $fontSizeRoot)};
        font-size: getRemRelativeSize(14, $fontSizeRoot);
      }
      &.npa-tag--neutral {
        color: var(--npa-tag-neutral-text-color);
        border-color: var(--npa-tag-neutral-border-color);
        background-color: var(--npa-tag-neutral-background-color);
      }
      &.npa-tag--critical {
        color: var(--npa-tag-critical-text-color);
        border-color: var(--npa-tag-critical-border-color);
        background-color: var(--npa-tag-critical-background-color);
      }
      &.npa-tag--warning {
        color: var(--npa-tag-warning-text-color);
        border-color: var(--npa-tag-warning-border-color);
        background-color: var(--npa-tag-warning-background-color);
      }
      &.npa-tag--success {
        color: var(--npa-tag-success-text-color);
        border-color: var(--npa-tag-success-border-color);
        background-color: var(--npa-tag-success-background-color);
      }
    }
  }

  .npa-spinner {
    &.npa-spinner--inline {
      --npa-spinner-display: inline-flex;
    }
    &.npa-spinner--inherit {
      --npa-spinner-display: inherit;
    }
    &.npa-spinner--12 {
      --npa-spinner-size: #{getRemRelativeSize(12, $fontSizeRoot)};
      --npa-spinner-line-width: 7px;
    }
    &.npa-spinner--16 {
      --npa-spinner-size: #{getRemRelativeSize(16, $fontSizeRoot)};
      --npa-spinner-line-width: 6px;
    }
    &.npa-spinner--20 {
      --npa-spinner-size: #{getRemRelativeSize(20, $fontSizeRoot)};
      --npa-spinner-line-width: 5px;
    }
    &.npa-spinner--80 {
      --npa-spinner-size: #{getRemRelativeSize(80, $fontSizeRoot)};
      --npa-spinner-line-width: 3px;
    }
    &.npa-spinner--inverse {
      --npa-spinner-color: var(--npa-color-neutral-full);
    }
  }

  .npa-notification {
    &.npa-notification--success {
      --npa-notification-text-color: var(--npa-color-neutral-full);
      --npa-notification-border-color: var(--npa-color-success);
      --npa-notification-background-color: var(--npa-color-success);
    }
    &.npa-notification--warning {
      --npa-notification-text-color: var(--npa-color-neutral-full);
      --npa-notification-border-color: var(--npa-color-warning);
      --npa-notification-background-color: var(--npa-color-warning);
    }
    &.npa-notification--critical {
      --npa-notification-text-color: var(--npa-color-neutral-full);
      --npa-notification-border-color: var(--npa-color-critical);
      --npa-notification-background-color: var(--npa-color-critical);
    }
  }

  A.npa-link {
    &.npa-link-small {
      @include defineFontSizeElement(14, $fontSizeRoot, $fontLineHeightFactor);
    }
  }

  .npa-alert {
    .npa-alert__header {
      .npa-alert__title {
        @include defineFontSizeElement(18, $fontSizeRoot, $fontLineHeightFactor);
      }
    }
    &:not(.npa-alert--connection-lost) {
      border-left: #{getRemRelativeSize(4, $fontSizeRoot)} solid var(--npa-color-action);
    }
    &.npa-alert--success {
      border-left: #{getRemRelativeSize(4, $fontSizeRoot)} solid var(--npa-color-success);
      --npa-alert-title-icon-color: var(--npa-color-success);
    }
    &.npa-alert--warning {
      border-left: #{getRemRelativeSize(4, $fontSizeRoot)} solid var(--npa-color-warning);
      --npa-alert-title-icon-color: var(--npa-color-warning);
    }
    &.npa-alert--critical {
      border-left: #{getRemRelativeSize(4, $fontSizeRoot)} solid var(--npa-color-critical);
      --npa-alert-title-icon-color: var(--npa-color-critical);
    }
    &.npa-alert--connection-lost{
      --npa-alert-background-color: var(--npa-color-space-70);
      --npa-alert-border-color: var(--npa-color-space-70);
      --npa-alert-body-text-color: var(--npa-color-neutral-full);
      --npa-alert-title-icon-color: var(--npa-color-neutral-full);
      --npa-alert-title-text-color: var(--npa-color-neutral-full);
    }
  }

  .npa-tab {
    @include defineFontSizeElement(16, $fontSizeRoot, $fontLineHeightFactor);
    &.npa-tab--small {
      @include defineFontSizeElement(14, $fontSizeRoot, $fontLineHeightFactor);
      --npa-tab-height: #{getRemRelativeSize(30, $fontSizeRoot)};
    }
  }
}
