@import '../../../global/mixins';
@import './variables/sass';

@import './font-sizes';

%sds-components-template {
  LABEL {
    &.sds-label, &.sds-label.sds-label--small {
      @include defineFontSizeElement(14, $fontSizeRoot, $fontLineHeightFactor);
    }
  }

  INPUT, SPAN, DIV {
    &.sds-input {
      @include defineFontSizeElement(16, $fontSizeRoot, $fontLineHeightFactor);
      &.sds-input--small {
        --sds-component-height: #{getRemRelativeSize(32, $fontSizeRoot)};
        --sds-component-padding-horizontal: #{getRemRelativeSize(8, $fontSizeRoot)};
        @include defineFontSizeElement(14, $fontSizeRoot, $fontLineHeightFactor);
      }
    }
  }

  INPUT[type=radio], INPUT[type=checkbox] {
    & + LABEL {
      @include defineFontSizeElement(16, $fontSizeRoot, $fontLineHeightFactor);
    }
  }

  SPAN, DIV {
    &.sds-report {
      @include defineFontSizeElement(14, $fontSizeRoot, $fontLineHeightFactor);
    }
  }

  TEXTAREA.sds-textarea {
    padding-top: calc((var(--sds-component-height) - (#{getRemRelativeSize(16, $fontSizeRoot)} * #{$fontLineHeightFactor})) / 2);
    @include defineFontSizeElement(16, $fontSizeRoot, $fontLineHeightFactor);
    &.sds-textarea--small {
      --sds-component-height: #{getRemRelativeSize(32, $fontSizeRoot)};
      --sds-component-padding-horizontal: #{getRemRelativeSize(8, $fontSizeRoot)};
      padding-top: calc((var(--sds-component-height) - (#{getRemRelativeSize(14, $fontSizeRoot)} * #{$fontLineHeightFactor})) / 2);
      @include defineFontSizeElement(14, $fontSizeRoot, $fontLineHeightFactor);
    }
  }

  SELECT, SPAN, DIV {
    @include defineFontSizeElement(16, $fontSizeRoot, $fontLineHeightFactor);
    &.sds-select--small {
      --sds-component-height: #{getRemRelativeSize(32, $fontSizeRoot)};
      --sds-component-padding-horizontal: #{getRemRelativeSize(8, $fontSizeRoot)};
      @include defineFontSizeElement(14, $fontSizeRoot, $fontLineHeightFactor);
    }
    &.sds-select--filter {
      --sds-component-height: fit-content;
      --sds-component-width: fit-content;
      --sds-component-padding-vertical: 0;
    }
    &.sds-select--placeholder {
      color: var(--sds-component-placeholder-color);
    }
  }

  BUTTON {
    &.sds-button {
      --sds-component-padding-horizontal: #{getRemRelativeSize(20, $fontSizeRoot)};
      --sds-component-icon-left-spacer: #{getRemRelativeSize(8, $fontSizeRoot)};
      --sds-component-border-radius: #{getRemRelativeSize(20, $fontSizeRoot)};
      @include defineFontSizeElement(16, $fontSizeRoot, $fontLineHeightFactor);
      &.sds-button--small {
        --sds-component-height: #{getRemRelativeSize(32, $fontSizeRoot)};
        @include defineFontSizeElement(14, $fontSizeRoot, $fontLineHeightFactor);
        I.sds-icon {
          --sds-button-icon-spacer: #{getRemRelativeSize(4, $fontSizeRoot)};
        }
      }
      &.sds-button--secondary, &.sds-button--bob {
        --sds-button-color: var(--sds-color-action);
        --sds-button-border-color: var(--sds-color-action);
        --sds-button-background-color: transparent;
        --sds-button-hover-color: var(--sds-color-action-120);
        --sds-button-hover-border-color: var(--sds-color-action-120);
        --sds-button-hover-background-color: var(--sds-color-space-5);
        --sds-button-active-color: var(--sds-color-action-150);
        --sds-button-active-border-color: var(--sds-color-action-150);
        --sds-button-active-background-color: var(--sds-color-space-10);
      }
      &.sds-button--third {
        --sds-button-color: var(--sds-color-space-80);
        --sds-button-border-color: var(--sds-color-space-5);
        --sds-button-background-color: var(--sds-color-space-5);
        --sds-button-hover-color: var(--sds-color-space);
        --sds-button-hover-border-color: var(--sds-color-space-10);
        --sds-button-hover-background-color: var(--sds-color-space-10);
        --sds-button-active-color: var(--sds-color-space-110);
        --sds-button-active-border-color: var(--sds-color-space-5);
        --sds-button-active-background-color: var(--sds-color-space-5);
      }
      &.sds-button--critical {
        --sds-button-color: var(--sds-color-neutral-full);
        --sds-button-border-color: var(--sds-color-critical);
        --sds-button-background-color: var(--sds-color-critical);
        --sds-button-hover-color: var(--sds-color-neutral-full);
        --sds-button-hover-border-color: var(--sds-color-critical-120);
        --sds-button-hover-background-color: var(--sds-color-critical-120);
        --sds-button-active-color: var(--sds-color-neutral-full);
        --sds-button-active-border-color: var(--sds-color-critical-140);
        --sds-button-active-background-color: var(--sds-color-critical-140);
      }
      //&.sds-button--icon-only {
      //  --sds-component-padding-horizontal: #{getRemRelativeSize(11, $fontSizeRoot)};
      //  --sds-component-padding-vertical: #{getRemRelativeSize(9, $fontSizeRoot)};
      //  I.sds-icon {
      //    margin: #{getRemRelativeSize(2, $fontSizeRoot)} 0;
      //  }
      //  &.sds-button--small {
      //    --sds-component-padding-horizontal: #{getRemRelativeSize(7, $fontSizeRoot)};
      //    --sds-component-padding-vertical: #{getRemRelativeSize(7, $fontSizeRoot)};
      //    I.sds-icon {
      //      margin: 0;
      //    }
      //  }
      //}
    }
  }

  SPAN, DIV {
    &.sds-tag {
      --sds-component-padding-horizontal: #{getRemRelativeSize(8, $fontSizeRoot)};
      font-size: getRemRelativeSize(16, $fontSizeRoot);
      line-height: calc(var(--sds-tag-height) - #{getRemRelativeSize(2, $fontSizeRoot)});
      &.sds-tag--medium {
        --sds-component-icon-spacer: #{getRemRelativeSize(4, $fontSizeRoot)};
        --sds-tag-height: #{getRemRelativeSize(24, $fontSizeRoot)};
        font-size: getRemRelativeSize(14, $fontSizeRoot);
      }
      &.sds-tag--small {
        --sds-component-icon-spacer: #{getRemRelativeSize(4, $fontSizeRoot)};
        --sds-tag-height: #{getRemRelativeSize(18, $fontSizeRoot)};
        font-size: getRemRelativeSize(14, $fontSizeRoot);
      }
      &.sds-tag--neutral {
        color: var(--sds-tag-neutral-text-color);
        border-color: var(--sds-tag-neutral-border-color);
        background-color: var(--sds-tag-neutral-background-color);
      }
      &.sds-tag--critical {
        color: var(--sds-tag-critical-text-color);
        border-color: var(--sds-tag-critical-border-color);
        background-color: var(--sds-tag-critical-background-color);
      }
      &.sds-tag--warning {
        color: var(--sds-tag-warning-text-color);
        border-color: var(--sds-tag-warning-border-color);
        background-color: var(--sds-tag-warning-background-color);
      }
      &.sds-tag--success {
        color: var(--sds-tag-success-text-color);
        border-color: var(--sds-tag-success-border-color);
        background-color: var(--sds-tag-success-background-color);
      }
    }
  }

  .sds-spinner {
    &.sds-spinner--inline {
      --sds-spinner-display: inline-flex;
    }
    &.sds-spinner--inherit {
      --sds-spinner-display: inherit;
    }
    &.sds-spinner--12 {
      --sds-spinner-size: #{getRemRelativeSize(12, $fontSizeRoot)};
      --sds-spinner-line-width: 7px;
    }
    &.sds-spinner--16 {
      --sds-spinner-size: #{getRemRelativeSize(16, $fontSizeRoot)};
      --sds-spinner-line-width: 6px;
    }
    &.sds-spinner--20 {
      --sds-spinner-size: #{getRemRelativeSize(20, $fontSizeRoot)};
      --sds-spinner-line-width: 5px;
    }
    &.sds-spinner--80 {
      --sds-spinner-size: #{getRemRelativeSize(80, $fontSizeRoot)};
      --sds-spinner-line-width: 3px;
    }
    &.sds-spinner--inverse {
      --sds-spinner-color: var(--sds-color-neutral-full);
    }
  }

  .sds-notification {
    &.sds-notification--success {
      --sds-notification-text-color: var(--sds-color-neutral-full);
      --sds-notification-border-color: var(--sds-color-success);
      --sds-notification-background-color: var(--sds-color-success);
    }
    &.sds-notification--warning {
      --sds-notification-text-color: var(--sds-color-neutral-full);
      --sds-notification-border-color: var(--sds-color-warning);
      --sds-notification-background-color: var(--sds-color-warning);
    }
    &.sds-notification--critical {
      --sds-notification-text-color: var(--sds-color-neutral-full);
      --sds-notification-border-color: var(--sds-color-critical);
      --sds-notification-background-color: var(--sds-color-critical);
    }
  }

  A.sds-link {
    &.sds-link-small {
      @include defineFontSizeElement(14, $fontSizeRoot, $fontLineHeightFactor);
    }
  }

  .sds-alert {
    .sds-alert__header {
      .sds-alert__title {
        @include defineFontSizeElement(18, $fontSizeRoot, $fontLineHeightFactor);
      }
    }
    &:not(.sds-alert--connection-lost) {
      border-left: #{getRemRelativeSize(4, $fontSizeRoot)} solid var(--sds-color-action);
    }
    &.sds-alert--success {
      border-left: #{getRemRelativeSize(4, $fontSizeRoot)} solid var(--sds-color-success);
      --sds-alert-title-icon-color: var(--sds-color-success);
    }
    &.sds-alert--warning {
      border-left: #{getRemRelativeSize(4, $fontSizeRoot)} solid var(--sds-color-warning);
      --sds-alert-title-icon-color: var(--sds-color-warning);
    }
    &.sds-alert--critical {
      border-left: #{getRemRelativeSize(4, $fontSizeRoot)} solid var(--sds-color-critical);
      --sds-alert-title-icon-color: var(--sds-color-critical);
    }
    &.sds-alert--connection-lost{
      --sds-alert-background-color: var(--sds-color-space-70);
      --sds-alert-border-color: var(--sds-color-space-70);
      --sds-alert-body-text-color: var(--sds-color-neutral-full);
      --sds-alert-title-icon-color: var(--sds-color-neutral-full);
      --sds-alert-title-text-color: var(--sds-color-neutral-full);
    }
  }

  .sds-tab {
    @include defineFontSizeElement(16, $fontSizeRoot, $fontLineHeightFactor);
    &.sds-tab--small {
      @include defineFontSizeElement(14, $fontSizeRoot, $fontLineHeightFactor);
      --sds-tab-height: #{getRemRelativeSize(30, $fontSizeRoot)};
    }
  }
}
