//## Mixin for apply flex properties to container.
//## PARAMETERS: flex-direction, align-items, justify-content, flex-wrap
@mixin createFlexBox($flexDirection, $alignItems, $justifyContent, $wrapMode) {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-flow: $flexDirection $wrapMode;
  -webkit-flex-direction: $flexDirection $wrapMode;
  -ms-flex-direction: $flexDirection $wrapMode;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  align-items: $alignItems;
  -webkit-align-items: $alignItems;
  -ms-flex-align: $alignItems;
  justify-content: $justifyContent;
  -webkit-justify-content: $justifyContent;
  @content;
}

//## Mixin for apply styles to scrollbar.
//## PARAMETERS: scrollbar-color
@mixin styleScrollbar($scrollbarColor) {
  &::-webkit-scrollbar-track {
    border-radius: 30px;
    border: solid 3px transparent;
  }

  &::-webkit-scrollbar {
    width: 9px;
    height: 9px;
    border-radius: 10px !important;
  }

  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px $scrollbarColor;
    border-radius: 80px !important;
    border: solid 2px transparent;
  }
  @content;
}
