@import '../../../../global/mixins';
@import '../../../../global/components/shared/common';
@import '../../../space-light/backroom/colors';
@import '../font-sizes';
@import './sass';
@import '../spacing';

%npa-global-vars {
  // ###### Spacing Definition
  @each $value in $spacings {
    --npa-spacing-#{$value}: #{$value}px;
    --npa-spacing-relative-#{$value}: #{getRemRelativeSize($value, $fontSizeRoot)};
  }

  // ###### Color Scheme Definition
  @each $key, $value in $colorsAvailable {
    --npa-color-#{$key}: #{$value};
    --npa-color-#{$key}-rgb: #{red($value), green($value), blue($value)};
  }

  // ###### Generic Colors (HEX)
  --npa-focus-color: var(--npa-color-action);
  --npa-error-color: var(--npa-color-critical);

  // ###### Component Colors (HEX)
  --npa-component-border-color: var(--npa-color-space-40);
  --npa-component-background-color: var(--npa-color-neutral-full);
  --npa-component-hover-border-color: var(--npa-color-space-70);
  --npa-component-hover-background-color: var(--npa-color-neutral-full);
  --npa-component-focus-color: var(--npa-color-action-20);
  --npa-component-focus-border-color: var(--npa-color-action);
  --npa-component-focus-background-color: var(--npa-color-neutral-full);
  --npa-component-error-border-color: var(--npa-color-critical);
  --npa-component-error-background-color: var(--npa-color-neutral-full);
  --npa-component-checked-border-color: var(--npa-color-action);
  --npa-component-checked-background-color: var(--npa-color-action);

  // ###### Component Colors (RGB Variations)
  --npa-component-focus-border-color-rgb: var(--npa-color-action-rgb);

  // ###### Component Generic DISABLED and variations
  --npa-component-disabled-color: var(--npa-color-space-80);
  --npa-component-disabled-border-color: var(--npa-color-space-40);
  --npa-component-disabled-background-color: var(--npa-color-space-5);
  --npa-component-disabled-cursor: not-allowed;

  // ###### Component Generic PLACEHOLDER
  --npa-component-placeholder-color: var(--npa-color-space-50);
  --npa-component-placeholder-disabled-color: var(--npa-color-space-50);

  // ###### Component ICON (icons inside components like .npa-input--search)
  --npa-component-icon-color: var(--npa-color-space-80);
  --npa-component-icon-disabled-color: var(--npa-color-space-50);

  // ###### Component Commons
  --npa-component-width: fit-content;
  --npa-component-height: #{getRemRelativeSize(40, $fontSizeRoot)};
  --npa-component-vertical-spacer: #{getRemRelativeSize(2, $fontSizeRoot)};

  --npa-component-padding-vertical: 0;
  --npa-component-padding-horizontal: #{getRemRelativeSize(10, $fontSizeRoot)};

  --npa-component-focus-box-shadow: 0 0 0 2px var(--npa-component-focus-color);

  --npa-component-border: #{getRemRelativeSize(1, $fontSizeRoot)} solid;
  --npa-component-border-radius: #{getRemRelativeSize(4, $fontSizeRoot)};

  --npa-component-icon-left-spacer: #{getRemRelativeSize(4, $fontSizeRoot)};
  --npa-component-icon-right-spacer: #{getRemRelativeSize(8, $fontSizeRoot)};

  // ###### ICONS
  --npa-icon-font-family: '#{$defaultIconFontFamilyNpa}', '#{$defaultIconFontFamilyEgeo}', Symbol, sans-serif;
  --npa-icon-search: '#{$searchIcon}';
  --npa-icon-email: '#{$emailIcon}';
  --npa-icon-user: '#{$userIcon}';
  --npa-icon-password: '#{$passwordIcon}';
  --npa-icon-action-clear: '#{$actionClearIcon}';
  --npa-icon-arrow-bottom: '#{$arrowDownIcon}';
  --npa-icon-checkbox-checked: '#{$checkboxCheckedIcon}';

  // ###### LABEL
  --npa-label-display: table-cell;
  --npa-label-color: var(--npa-color-space-80);
  --npa-label-focus-color: var(--npa-color-space-110);
  --npa-label-error-color: var(--npa-color-space-80);
  --npa-label-disabled-color: var(--npa-color-space-80);

  // ###### REPORT
  --npa-report-color: var(--npa-color-space-80);

  // ###### Generic SELECTION elements (like radio or checkbox)
  --npa-selection-option-spacer: #{getRemRelativeSize(20, $fontSizeRoot)};
  --npa-selection-icon-spacer: #{getRemRelativeSize(8, $fontSizeRoot)};
  --npa-selection-icon-spacer-vertical: #{getRemRelativeSize(4, $fontSizeRoot)};
  --npa-selection-icon-size: #{getRemRelativeSize(16, $fontSizeRoot)};
  --npa-selection-z-index-before: auto;
  --npa-selection-z-index-after: auto;

  --npa-selection-disabled-tex-color: var(--npa-color-space-50);
  --npa-selection-checked-disabled-border-color: var(--npa-color-action-40);
  --npa-selection-checked-disabled-background-color: var(--npa-color-action-40);

  // ###### RADIO Button
  --npa-radio-border-radius: 100%;

  // ###### CHECKBOX Button
  --npa-checkbox-border-radius: #{getRemRelativeSize(2, $fontSizeRoot)};
  --npa-checkbox-indeterminate-border-color: var(--npa-color-action);
  --npa-checkbox-indeterminate-background-color: var(--npa-color-action);
  --npa-checkbox-indeterminate-disabled-border-color: var(--npa-color-action-40);
  --npa-checkbox-indeterminate-disabled-background-color: var(--npa-color-action-40);

  // ###### TEXTAREA
  --npa-textarea-height: #{getRemRelativeSize(40, $fontSizeRoot)};
  --npa-textarea-resize: vertical;

  // ###### BUTTON
  --npa-button-color: var(--npa-color-neutral-full);
  --npa-button-border-color: var(--npa-color-action);
  --npa-button-background-color: var(--npa-color-action);
  --npa-button-hover-color: var(--npa-color-neutral-full);
  --npa-button-hover-border-color: var(--npa-color-action-120);
  --npa-button-hover-background-color: var(--npa-color-action-120);
  --npa-button-active-color: var(--npa-color-neutral-full);
  --npa-button-active-border-color: var(--npa-color-action-150);
  --npa-button-active-background-color: var(--npa-color-action-150);
  --npa-button-disabled-color: var(--npa-color-space-30);
  --npa-button-disabled-border-color: var(--npa-color-space-10);
  --npa-button-disabled-background-color: var(--npa-color-space-10);
  --npa-button-disabled-icon-color: var(--npa-color-space-30);

  --npa-button-icon-spacer: #{getRemRelativeSize(8, $fontSizeRoot)};
  --npa-button-border-correction: #{getRemRelativeSize(2, $fontSizeRoot)};

  // ###### SWITCH
  --npa-switch-background-color: var(--npa-color-space-30);
  --npa-switch-color: var(--npa-color-neutral-full);
  --npa-switch-shadow-color: var(--npa-color-neutral);
  --npa-switch-shadow-color-rgb: var(--npa-color-neutral-rgb);
  --npa-switch-checked-background-color: var(--npa-color-action);
  --npa-switch-disabled-background-color: var(--npa-color-space-10);
  --npa-switch-disabled-checked-background-color: var(--npa-color-action-40);

  --npa-switch-height: #{getRemRelativeSize(22, $fontSizeRoot)};
  --npa-switch-border-radio: #{getRemRelativeSize(25, $fontSizeRoot)};

  // ###### TAG
  --npa-tag-text-color: var(--npa-color-space-110);
  --npa-tag-border-color: var(--npa-color-space-10);
  --npa-tag-background-color: var(--npa-color-space-10);
  --npa-tag-neutral-text-color: var(--npa-color-space-110);
  --npa-tag-neutral-border-color: var(--npa-color-space-20);
  --npa-tag-neutral-background-color: var(--npa-color-space-20);
  --npa-tag-critical-text-color: var(--npa-color-critical-140);
  --npa-tag-critical-border-color: var(--npa-color-critical-10);
  --npa-tag-critical-background-color: var(--npa-color-critical-10);
  --npa-tag-warning-text-color: var(--npa-color-warning);
  --npa-tag-warning-border-color: var(--npa-color-warning-10);
  --npa-tag-warning-background-color: var(--npa-color-warning-10);
  --npa-tag-success-text-color: var(--npa-color-success);
  --npa-tag-success-border-color: var(--npa-color-success-10);
  --npa-tag-success-background-color: var(--npa-color-success-10);

  --npa-tag-hover-text-color: var(--npa-color-action);
  --npa-tag-hover-border-color: var(--npa-color-action-10);
  --npa-tag-hover-background-color: var(--npa-color-action-10);
  --npa-tag-active-text-color: var(--npa-color-neutral-full);
  --npa-tag-active-border-color: var(--npa-color-action);
  --npa-tag-active-background-color: var(--npa-color-action);
  --npa-tag-disabled-text-color: var(--npa-color-space-50);
  --npa-tag-disabled-border-color: var(--npa-color-space-10);
  --npa-tag-disabled-background-color: var(--npa-color-space-10);

  --npa-tag-padding-horizontal: #{getRemRelativeSize(8, $fontSizeRoot)};
  --npa-tag-padding-vertical: #{getRemRelativeSize(4, $fontSizeRoot)};

  // ###### SPINNER
  --npa-spinner-display: block;
  --npa-spinner-size: #{getRemRelativeSize(60, $fontSizeRoot)};
  --npa-spinner-line-width: 3px;
  --npa-spinner-color: var(--npa-color-action);

  // ###### DROPDOWN
  --npa-dropdown-position: absolute;
  --npa-dropdown-width: fit-content;
  --npa-dropdown-min-width: #{getRemRelativeSize(150, $fontSizeRoot)};
  --npa-dropdown-top: 0;
  --npa-dropdown-left: 0;

  --npa-dropdown-border: none;
  --npa-dropdown-border-color: unset;
  --npa-dropdown-border-radius: var(--npa-component-border-radius);

  --npa-dropdown-box-shadow: 0 #{getRemRelativeSize(3, $fontSizeRoot)} #{getRemRelativeSize(9, $fontSizeRoot)} 0 rgba(var(--npa-color-neutral-rgb), 0.25);

  --npa-dropdown-padding: #{getRemRelativeSize(8, $fontSizeRoot)} 0;
  --npa-dropdown-margin: 0;

  --npa-dropdown-option-group-min-height: #{getRemRelativeSize(30, $fontSizeRoot)};
  --npa-dropdown-option-group-color: var(--npa-color-space-50);

  --npa-dropdown-option-min-height: #{getRemRelativeSize(40, $fontSizeRoot)};
  --npa-dropdown-option-padding-vertical: #{getRemRelativeSize(8, $fontSizeRoot)};
  --npa-dropdown-option-padding-horizontal: #{getRemRelativeSize(16, $fontSizeRoot)};
  --npa-dropdown-option-icon-size: #{getRemRelativeSize(16, $fontSizeRoot)};
  --npa-dropdown-option-icon-spacer: #{getRemRelativeSize(8, $fontSizeRoot)};
  --npa-dropdown-option-label-correction: #{getRemRelativeSize(1, $fontSizeRoot)};
  --npa-dropdown-option-hover-color: var(--npa-color-action-10);
  --npa-dropdown-option-border-radius: 0;

  --npa-dropdown-option-hover-background-color: var(--npa-color-action-10);

  --npa-dropdown-option-selected-background-color: var(--npa-color-space-10);

  --npa-dropdown-option-icon-right-size: #{getRemRelativeSize(14, $fontSizeRoot)};
  --npa-dropdown-option-icon-right-spacer: #{getRemRelativeSize(40, $fontSizeRoot)};

  --npa-dropdown-separator-border: var(--npa-component-border);
  --npa-dropdown-separator-border-color: var(--npa-color-space-20);
  --npa-dropdown-separator-margin: #{getRemRelativeSize(4, $fontSizeRoot)} 0;

  // ###### NOTIFICATION
  --npa-notification-position: fixed;
  --npa-notification-padding: #{getRemRelativeSize(7, $fontSizeRoot)} #{getRemRelativeSize(15, $fontSizeRoot)};
  --npa-notification-width: fit-content;
  --npa-notification-min-width: unset;
  --npa-notification-max-width: 50vw;
  --npa-notification-top: 0;
  --npa-notification-left: 0;
  --npa-notification-z-index: 1;

  --npa-notification-border: var(--npa-component-border);
  --npa-notification-border-radius: var(--npa-component-border-radius);
  --npa-notification-box-shadow: 0 #{getRemRelativeSize(3, $fontSizeRoot)} #{getRemRelativeSize(9, $fontSizeRoot)} 0 rgba(var(--npa-color-neutral-rgb), 0.25);

  --npa-notification-text-color: var(--npa-color-space-80);
  --npa-notification-border-color: var(--npa-color-neutral-full);
  --npa-notification-background-color: var(--npa-color-neutral-full);

  --npa-notification-icon-separation: #{getRemRelativeSize(8, $fontSizeRoot)};
  --npa-notification-close-control-separation: #{getRemRelativeSize(50, $fontSizeRoot)};

  --npa-notification-inside-link-color: var(--npa-color-action);

  // ###### LINK
  --npa-link-color: var(--npa-color-action);
  --npa-link-hover-color: var(--npa-color-action-120);

  // ###### ALERT
  --npa-alert-position: fixed;
  --npa-alert-padding-vertical: #{getRemRelativeSize(32, $fontSizeRoot)};
  --npa-alert-padding-horizontal: var(--npa-alert-padding-vertical);
  --npa-alert-width: #{getRemRelativeSize(350, $fontSizeRoot)};
  --npa-alert-min-width: var(--npa-alert-width);
  --npa-alert-max-width: var(--npa-alert-width);
  --npa-alert-top: 0;
  --npa-alert-left: 0;
  --npa-alert-z-index: 1;

  --npa-alert-border: var(--npa-component-border);
  --npa-alert-border-radius: var(--npa-component-border-radius);
  --npa-alert-box-shadow: 0 #{getRemRelativeSize(3, $fontSizeRoot)} #{getRemRelativeSize(9, $fontSizeRoot)} 0 rgba(var(--npa-color-neutral-rgb), 0.25);

  --npa-alert-close-control-color: var(--npa-color-space-80);
  --npa-alert-close-control-top: #{getRemRelativeSize(-15, $fontSizeRoot)};
  --npa-alert-close-control-right: #{getRemRelativeSize(-15, $fontSizeRoot)};

  --npa-alert-header-separation: #{getRemRelativeSize(12, $fontSizeRoot)};
  --npa-alert-title-icon-separation: #{getRemRelativeSize(12, $fontSizeRoot)};

  --npa-alert-title-text-color: var(--npa-color-space-110);
  --npa-alert-title-icon-color: var(--npa-color-action);
  --npa-alert-title-icon-spacer: #{getRemRelativeSize(8, $fontSizeRoot)};
  --npa-alert-body-text-color: var(--npa-color-space-80);
  --npa-alert-border-color: var(--npa-color-space-20);
  --npa-alert-background-color: var(--npa-color-neutral-full);

  --npa-alert-actions-height: #{getRemRelativeSize(40, $fontSizeRoot)};
  --npa-alert-actions-background-color: var(--npa-color-space-5);
  --npa-alert-actions-separation: #{getRemRelativeSize(2, $fontSizeRoot)};

  // ###### TAB
  $npaTabAuxCellPaddingBottom: getRemRelativeSize(4, $fontSizeRoot);
  $npaTabAuxCellActiveBorderWidth: getRemRelativeSize(2, $fontSizeRoot);

  --npa-tab-width: 100%;
  --npa-tab-border: var(--npa-component-border);
  --npa-tab-border-color: var(--npa-color-space-20);

  --npa-tab-height: var(--npa-component-height);

  --npa-tab-cell-padding: 0 #{getRemRelativeSize(24, $fontSizeRoot)} #{$npaTabAuxCellPaddingBottom} #{getRemRelativeSize(24, $fontSizeRoot)};
  --npa-tab-cell-margin-bottom: #{getRemRelativeSize(-1, $fontSizeRoot)};
  --npa-tab-cell-color: var(--npa-color-action);
  --npa-tab-cell-hover-color: var(--npa-color-action-120);
  --npa-tab-cell-cursor: pointer;

  --npa-tab-cell-active-padding-bottom: calc(#{$npaTabAuxCellPaddingBottom} - #{$npaTabAuxCellActiveBorderWidth});
  --npa-tab-cell-active-color: var(--npa-color-space-110);
  --npa-tab-cell-active-border: #{$npaTabAuxCellActiveBorderWidth} solid;
  --npa-tab-cell-active-border-color: var(--npa-color-space-110);
  --npa-tab-cell-active-cursor: default;

  // ###### TOGGLE BUTTON
  $npaToggleButtonBorderWidth: getRemRelativeSize(1, $fontSizeRoot);
  --npa-toggle-button-border: #{$npaToggleButtonBorderWidth} solid;
  --npa-toggle-button-margin-left: calc(#{$npaToggleButtonBorderWidth} * (-1));
  --npa-toggle-button-border-color: var(--npa-color-space-40);
  --npa-toggle-button-border-radius: var(--npa-component-border-radius);

  --npa-toggle-button-disabled-border-color: var(--npa-color-space-20);

  --npa-toggle-button-active-color: var(--npa-color-space);
  --npa-toggle-button-active-background-color: var(--npa-color-space-10);

  --npa-toggle-button-active-disabled-color: var(--npa-color-space-30);
  --npa-toggle-button-active-disabled-border-color: var(--npa-color-space-20);
  --npa-toggle-button-active-disabled-background-color: var(--npa-color-space-5);
}
