@import '../../../../global/mixins';
@import '../../../../global/components/shared/common';
@import '../../../stratio-product/backroom/colors';
@import '../../../stratio-web/backroom/font-sizes';
@import './sass';

%sds-global-vars {
  // ###### Color Scheme Definition

  @each $key, $value in $colorsAvailable {
    --sds-color-#{$key}: #{$value};
    --sds-color-#{$key}-rgb: #{red($value), green($value), blue($value)};
  }

  // ###### Component Commons
  --sds-component-width: fit-content;
  --sds-component-height: #{getRemRelativeSize(40, $fontSizeRoot)};
  --sds-component-vertical-spacer: #{getRemRelativeSize(2, $fontSizeRoot)};

  --sds-component-padding-vertical: 0;
  --sds-component-padding-horizontal: #{getRemRelativeSize(10, $fontSizeRoot)};

  --sds-component-border: #{getRemRelativeSize(1, $fontSizeRoot)} solid;
  --sds-component-border-radius: #{getRemRelativeSize(4, $fontSizeRoot)};

  --sds-component-icon-left-spacer: #{getRemRelativeSize(4, $fontSizeRoot)};
  --sds-component-icon-right-spacer: #{getRemRelativeSize(8, $fontSizeRoot)};

  // ###### Generic Colors (HEX)
  --sds-focus-color: var(--sds-color-action);
  --sds-error-color: var(--sds-color-critical);

  // ###### Component Colors (HEX)
  --sds-component-border-color: var(--sds-color-space-40);
  --sds-component-background-color: var(--sds-color-neutral-full);
  --sds-component-hover-border-color: var(--sds-color-space-70);
  --sds-component-hover-background-color: var(--sds-color-neutral-full);
  --sds-component-focus-border-color: var(--sds-color-action);
  --sds-component-focus-background-color: var(--sds-color-neutral-full);
  --sds-component-error-border-color: var(--sds-color-critical);
  --sds-component-error-background-color: var(--sds-color-neutral-full);
  --sds-component-checked-border-color: var(--sds-color-action);
  --sds-component-checked-background-color: var(--sds-color-action);

  // ###### Component Colors (RGB Variations)
  --sds-component-focus-border-color-rgb: var(--sds-color-action-rgb);

  // ###### Component Generic DISABLED and variations
  --sds-component-disabled-color: var(--sds-color-space-80);
  --sds-component-disabled-border-color: var(--sds-color-space-40);
  --sds-component-disabled-background-color: var(--sds-color-space-5);
  --sds-component-disabled-cursor: not-allowed;

  // ###### Component Generic PLACEHOLDER
  --sds-component-placeholder-color: var(--sds-color-space-50);
  --sds-component-placeholder-disabled-color: var(--sds-color-space-50);

  // ###### Component ICON (icons inside components like .sds-input--search)
  --sds-component-icon-color: var(--sds-color-space-80);
  --sds-component-icon-disabled-color: var(--sds-color-space-50);

  // ###### ICONS
  --sds-icon-font-family: '#{$defaultIconFontFamilySds}', '#{$defaultIconFontFamilyEgeo}', Symbol, sans-serif;
  --sds-icon-search: '#{$searchIcon}';
  --sds-icon-email: '#{$emailIcon}';
  --sds-icon-user: '#{$userIcon}';
  --sds-icon-password: '#{$passwordIcon}';
  --sds-icon-action-clear: '#{$actionClearIcon}';
  --sds-icon-arrow-bottom: '#{$arrowDownIcon}';
  --sds-icon-checkbox-checked: '#{$checkboxCheckedIcon}';

  // ###### LABEL
  --sds-label-display: table-cell;
  --sds-label-color: var(--sds-color-space-80);
  --sds-label-focus-color: var(--sds-color-space-110);
  --sds-label-error-color: var(--sds-color-space-80);
  --sds-label-disabled-color: var(--sds-color-space-80);

  // ###### REPORT
  --sds-report-color: var(--sds-color-space-80);

  // ###### Generic SELECTION elements (like radio or checkbox)
  --sds-selection-option-spacer: #{getRemRelativeSize(20, $fontSizeRoot)};
  --sds-selection-icon-spacer: #{getRemRelativeSize(8, $fontSizeRoot)};
  --sds-selection-icon-spacer-vertical: #{getRemRelativeSize(4, $fontSizeRoot)};
  --sds-selection-icon-size: #{getRemRelativeSize(16, $fontSizeRoot)};

  --sds-selection-disabled-tex-color: var(--sds-color-space-50);
  --sds-selection-checked-disabled-border-color: var(--sds-color-action-40);
  --sds-selection-checked-disabled-background-color: var(--sds-color-action-40);

  // ###### RADIO Button
  --sds-radio-border-radius: 100%;

  // ###### CHECKBOX Button
  --sds-checkbox-border-radius: #{getRemRelativeSize(2, $fontSizeRoot)};
  --sds-checkbox-indeterminate-border-color: var(--sds-color-action);
  --sds-checkbox-indeterminate-background-color: var(--sds-color-action);
  --sds-checkbox-indeterminate-disabled-border-color: var(--sds-color-action-40);
  --sds-checkbox-indeterminate-disabled-background-color: var(--sds-color-action-40);

  // ###### TEXTAREA
  --sds-textarea-height: #{getRemRelativeSize(40, $fontSizeRoot)};
  --sds-textarea-resize: vertical;

  // ###### BUTTON
  --sds-button-color: var(--sds-color-neutral-full);
  --sds-button-border-color: var(--sds-color-action);
  --sds-button-background-color: var(--sds-color-action);
  --sds-button-hover-color: var(--sds-color-neutral-full);
  --sds-button-hover-border-color: var(--sds-color-action-120);
  --sds-button-hover-background-color: var(--sds-color-action-120);
  --sds-button-active-color: var(--sds-color-neutral-full);
  --sds-button-active-border-color: var(--sds-color-action-150);
  --sds-button-active-background-color: var(--sds-color-action-150);
  --sds-button-disabled-color: var(--sds-color-space-30);
  --sds-button-disabled-border-color: var(--sds-color-space-10);
  --sds-button-disabled-background-color: var(--sds-color-space-10);
  --sds-button-disabled-icon-color: var(--sds-color-space-30);

  --sds-button-icon-spacer: #{getRemRelativeSize(8, $fontSizeRoot)};
  --sds-button-border-correction: #{getRemRelativeSize(2, $fontSizeRoot)};

  // ###### SWITCH
  --sds-switch-background-color: var(--sds-color-space-30);
  --sds-switch-color: var(--sds-color-neutral-full);
  --sds-switch-shadow-color: var(--sds-color-neutral);
  --sds-switch-shadow-color-rgb: var(--sds-color-neutral-rgb);
  --sds-switch-checked-background-color: var(--sds-color-action);
  --sds-switch-disabled-background-color: var(--sds-color-space-10);
  --sds-switch-disabled-checked-background-color: var(--sds-color-action-40);

  --sds-switch-height: #{getRemRelativeSize(22, $fontSizeRoot)};
  --sds-switch-border-radio: #{getRemRelativeSize(25, $fontSizeRoot)};

  // ###### TAG
  --sds-tag-text-color: var(--sds-color-space-110);
  --sds-tag-border-color: var(--sds-color-space-10);
  --sds-tag-background-color: var(--sds-color-space-10);
  --sds-tag-info-text-color: var(--sds-color-action);
  --sds-tag-info-border-color: var(--sds-color-action-10);
  --sds-tag-info-background-color: var(--sds-color-action-10);
  --sds-tag-critical-text-color: var(--sds-color-critical-140);
  --sds-tag-critical-border-color: var(--sds-color-critical-10);
  --sds-tag-critical-background-color: var(--sds-color-critical-10);
  --sds-tag-warning-text-color: var(--sds-color-warning);
  --sds-tag-warning-border-color: var(--sds-color-warning-10);
  --sds-tag-warning-background-color: var(--sds-color-warning-10);
  --sds-tag-success-text-color: var(--sds-color-success);
  --sds-tag-success-border-color: var(--sds-color-success-10);
  --sds-tag-success-background-color: var(--sds-color-success-10);

  --sds-tag-hover-text-color: var(--sds-color-action);
  --sds-tag-hover-border-color: var(--sds-color-action-10);
  --sds-tag-hover-background-color: var(--sds-color-action-10);
  --sds-tag-active-text-color: var(--sds-color-neutral-full);
  --sds-tag-active-border-color: var(--sds-color-action);
  --sds-tag-active-background-color: var(--sds-color-action);
  --sds-tag-disabled-text-color: var(--sds-color-space-50);
  --sds-tag-disabled-border-color: var(--sds-color-space-10);
  --sds-tag-disabled-background-color: var(--sds-color-space-10);

  --sds-tag-padding-horizontal: #{getRemRelativeSize(8, $fontSizeRoot)};
  --sds-tag-padding-vertical: #{getRemRelativeSize(4, $fontSizeRoot)};

  // ###### SPINNER
  --sds-spinner-display: block;
  --sds-spinner-size: #{getRemRelativeSize(60, $fontSizeRoot)};
  --sds-spinner-line-width: 3px;
  --sds-spinner-color: var(--sds-color-action);

  // ###### DROPDOWN
  --sds-dropdown-position: absolute;
  --sds-dropdown-width: fit-content;
  --sds-dropdown-min-width: #{getRemRelativeSize(150, $fontSizeRoot)};
  --sds-dropdown-left: 0;
  --sds-dropdown-top: 0;

  --sds-dropdown-border: none;
  --sds-dropdown-border-color: unset;
  --sds-dropdown-border-radius: var(--sds-component-border-radius);

  --sds-dropdown-box-shadow: 0 #{getRemRelativeSize(3, $fontSizeRoot)} #{getRemRelativeSize(9, $fontSizeRoot)} 0 rgba(var(--sds-color-neutral-rgb), 0.25);

  --sds-dropdown-padding: #{getRemRelativeSize(8, $fontSizeRoot)} 0;
  --sds-dropdown-margin: 0;

  --sds-dropdown-option-min-height: #{getRemRelativeSize(40, $fontSizeRoot)};
  --sds-dropdown-option-padding: #{getRemRelativeSize(8, $fontSizeRoot)} #{getRemRelativeSize(16, $fontSizeRoot)};
  --sds-dropdown-option-icon-size: #{getRemRelativeSize(16, $fontSizeRoot)};
  --sds-dropdown-option-icon-spacer: #{getRemRelativeSize(8, $fontSizeRoot)};
  --sds-dropdown-option-label-correction: #{getRemRelativeSize(1, $fontSizeRoot)};

  --sds-dropdown-option-hover-background-color: var(--sds-color-action-10);

  --sds-dropdown-option-selected-background-color: var(--sds-color-space-10);

  --sds-dropdown-option-icon-right-size: #{getRemRelativeSize(14, $fontSizeRoot)};
  --sds-dropdown-option-icon-right-spacer: #{getRemRelativeSize(40, $fontSizeRoot)};

  --sds-dropdown-separator-border: var(--sds-component-border);
  --sds-dropdown-separator-border-color: var(--sds-color-space-20);
  --sds-dropdown-separator-margin: #{getRemRelativeSize(4, $fontSizeRoot)} 0;

  // ###### NOTIFICATION
  --sds-notification-position: fixed;
  --sds-notification-padding: #{getRemRelativeSize(7, $fontSizeRoot)} #{getRemRelativeSize(15, $fontSizeRoot)};
  --sds-notification-width: fit-content;
  --sds-notification-min-width: unset;
  --sds-notification-max-width: 50vw;
  --sds-notification-top: 0;
  --sds-notification-left: 0;
  --sds-notification-z-index: 1;

  --sds-notification-border: var(--sds-component-border);
  --sds-notification-border-radius: var(--sds-component-border-radius);
  --sds-notification-box-shadow: 0 #{getRemRelativeSize(3, $fontSizeRoot)} #{getRemRelativeSize(9, $fontSizeRoot)} 0 rgba(var(--sds-color-neutral-rgb), 0.25);

  --sds-notification-text-color: var(--sds-color-space-80);
  --sds-notification-border-color: var(--sds-color-neutral-full);
  --sds-notification-background-color: var(--sds-color-neutral-full);

  --sds-notification-icon-separation: #{getRemRelativeSize(8, $fontSizeRoot)};
  --sds-notification-close-control-separation: #{getRemRelativeSize(50, $fontSizeRoot)};

  --sds-notification-inside-link-color: var(--sds-color-action);

  // ###### LINK
  --sds-link-color: var(--sds-color-action);
  --sds-link-hover-color: var(--sds-color-action-120);

  // ###### ALERT
  --sds-alert-position: fixed;
  --sds-alert-padding-vertical: #{getRemRelativeSize(32, $fontSizeRoot)};
  --sds-alert-padding-horizontal: var(--sds-alert-padding-vertical);
  --sds-alert-width: #{getRemRelativeSize(350, $fontSizeRoot)};
  --sds-alert-min-width: var(--sds-alert-width);
  --sds-alert-max-width: var(--sds-alert-width);
  --sds-alert-top: 0;
  --sds-alert-left: 0;
  --sds-alert-z-index: 1;

  --sds-alert-border: var(--sds-component-border);
  --sds-alert-border-radius: var(--sds-component-border-radius);
  --sds-alert-box-shadow: 0 #{getRemRelativeSize(3, $fontSizeRoot)} #{getRemRelativeSize(9, $fontSizeRoot)} 0 rgba(var(--sds-color-neutral-rgb), 0.25);

  --sds-alert-close-control-color: var(--sds-color-space-80);
  --sds-alert-close-control-top: #{getRemRelativeSize(-15, $fontSizeRoot)};
  --sds-alert-close-control-right: #{getRemRelativeSize(-15, $fontSizeRoot)};

  --sds-alert-header-separation: #{getRemRelativeSize(12, $fontSizeRoot)};
  --sds-alert-title-icon-separation: #{getRemRelativeSize(12, $fontSizeRoot)};

  --sds-alert-title-text-color: var(--sds-color-space-110);
  --sds-alert-title-icon-color: var(--sds-color-action);
  --sds-alert-title-icon-spacer: #{getRemRelativeSize(8, $fontSizeRoot)};
  --sds-alert-body-text-color: var(--sds-color-space-80);
  --sds-alert-border-color: var(--sds-color-space-20);
  --sds-alert-background-color: var(--sds-color-neutral-full);

  --sds-alert-actions-height: #{getRemRelativeSize(40, $fontSizeRoot)};
  --sds-alert-actions-background-color: var(--sds-color-space-5);
  --sds-alert-actions-separation: #{getRemRelativeSize(2, $fontSizeRoot)};

  // ###### TAB
  $sdsTabAuxCellPaddingBottom: getRemRelativeSize(4, $fontSizeRoot);
  $sdsTabAuxCellActiveBorderWidth: getRemRelativeSize(2, $fontSizeRoot);

  --sds-tab-width: 100%;
  --sds-tab-border: var(--sds-component-border);
  --sds-tab-border-color: var(--sds-color-space-20);

  --sds-tab-height: var(--sds-component-height);

  --sds-tab-cell-padding: 0 #{getRemRelativeSize(24, $fontSizeRoot)} #{$sdsTabAuxCellPaddingBottom} #{getRemRelativeSize(24, $fontSizeRoot)};
  --sds-tab-cell-margin-bottom: #{getRemRelativeSize(-1, $fontSizeRoot)};
  --sds-tab-cell-color: var(--sds-color-action);
  --sds-tab-cell-hover-color: var(--sds-color-action-120);
  --sds-tab-cell-cursor: pointer;

  --sds-tab-cell-active-padding-bottom: calc(#{$sdsTabAuxCellPaddingBottom} - #{$sdsTabAuxCellActiveBorderWidth});
  --sds-tab-cell-active-color: var(--sds-color-space-110);
  --sds-tab-cell-active-border: #{$sdsTabAuxCellActiveBorderWidth} solid;
  --sds-tab-cell-active-border-color: var(--sds-color-space-110);
  --sds-tab-cell-active-cursor: default;

  // ###### TOGGLE BUTTON
  $sdsToggleButtonBorderWidth: getRemRelativeSize(1, $fontSizeRoot);
  --sds-toggle-button-border: #{$sdsToggleButtonBorderWidth} solid;
  --sds-toggle-button-margin-left: calc(#{$sdsToggleButtonBorderWidth} * (-1));
  --sds-toggle-button-border-color: var(--sds-color-space-40);
  --sds-toggle-button-border-radius: var(--sds-component-border-radius);

  --sds-toggle-button-disabled-border-color: var(--sds-color-space-20);

  --sds-toggle-button-active-color: var(--sds-color-space);
  --sds-toggle-button-active-background-color: var(--sds-color-space-10);

  --sds-toggle-button-active-disabled-color: var(--sds-color-space-30);
  --sds-toggle-button-active-disabled-border-color: var(--sds-color-space-20);
  --sds-toggle-button-active-disabled-background-color: var(--sds-color-space-5);
}
