@import '../mixins';
@import '../poppins-definitions';

@each $key, $value in $fontWeightsAvailable {
  @include createFontFaceRule(
    $typesToGenerate,
    $fontName,
    map-get($value, weight),
    map-get($value, style),
    map-get($value, path),
    map-get($value, local1),
    map-get($value, local2)
  );
}

%npa-poppins-typography-definition {
  @each $key, $value in $fontWeightsAvailable {
    .npa-typo__#{$key} {
      @include createTypographyElement(map-get($value, weight), map-get($value, style));
    }
  }
}
