@import '../mixins';
@import '../stratio-icon-definitions';

$iconFontFamily: 'Stratio Icon';
$typesToGenerate: (eot, svg, ttf, woff, woff2);

@include createFontFaceRule($typesToGenerate, $iconFontFamily, normal, normal, '../../../fonts/stratio-icon-set/ico_stratio');

%npa-icon-definition {
  .npa-icon, .npa-icon-text:before {
    font-family: $iconFontFamily, Symbol, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1.1em;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;  //# Support for all WebKit browsers.
    text-rendering: optimizeLegibility;   //# Support for Safari and Chrome.
    -moz-osx-font-smoothing: grayscale;   //# Support for Firefox.
    font-feature-settings: 'liga';        //# Support for IE.
  }

  .npa-icon, .npa-icon-text {
    @each $key, $value in $iconTableDefinitions {
      &.#{$key}:before {
        content: unquote('"\\#{$value}"');
      }
    }
  }
  .npa-icon-text {
    &:before {
      position: relative;
      top: 0.095em;
      font-size: 1.142em;
      line-height: unset;
      margin-right: 0.35em;
    }
  }
}
