@import '../../global/mixins';
@import '../../global/fonts/Poppins';
@import '../../global/fonts/Stratio-Icon';
@import '../../global/components/components';

@import './backroom/variables/common';
@import './backroom/components';
@import './backroom/font-sizes';
@import './backroom/colors';

HTML {
  &#npa-martina-tpl, &.npa-martina-tpl {
    font-size: $fontSizeRoot + px;
    line-height: $fontLineHeightFactor;

    * {
      font-family: Poppins, sans-serif;
      color: $colorSpace110;
      outline: none;
    }

    @extend %npa-poppins-typography-definition;

    @include createFontDefinition($fontSizesText, $fontSizeRoot, $fontLineHeightFactor) {
      // ###### HEADERS
      @include createHeadersDefinition($fontSizesHeaders, $fontSizeRoot, $fontLineHeightFactor);

      // ###### DEFAULT WEIGHT AND STYLE
      .npa--bold {
        font-weight: bold;
      }
      .npa--italic {
        font-style: italic;
      }

      // ###### DEFAULT SIZE
      .npa-font--default {
        font-size: 1rem;
        line-height: $fontLineHeightFactor + rem;
      }
    }

    @include createColorsDefinition($colorsAvailable);
    @extend %npa-icon-definition;
    @extend %npa-global-vars;
    @extend %npa-components;
    @extend %npa-components-template;
  }
}

