@import '../../../../global/mixins';
@import '../../../../global/components/shared/common';
@import '../font-sizes';
@import '../../../space-light/backroom/colors';
@import '../template-base';
@import './sass';
@import '../spacing';

%sds-global-vars {
  // ###### Spacing Definition
  @each $value in $spacings {
    --sds-spacing-#{$value}: #{$value}px;
    --sds-spacing-relative-#{$value}: #{getRemRelativeSize($value, $fontSizeRoot)};
  }

  // ###### Color Scheme Definition
  @each $key, $value in $colorsAvailable {
    --sds-color-#{$key}: #{$value};
    --sds-color-#{$key}-rgb: #{red($value), green($value), blue($value)};
  }
  @each $key, $value in $templateBaseBackgroundColor {
    --sds-color-#{$key}: #{$value};
    --sds-color-#{$key}-rgb: #{red($value), green($value), blue($value)};
  }

  // ###### Generic Colors (HEX)
  --sds-focus-color: var(--sds-color-action-6);
  --sds-error-color: var(--sds-color-coral-6);
  --sds-warning-color: var(--sds-color-orange-5);
  --sds-success-color: var(--sds-color-green-6);

  // ###### Component Colors (HEX)
  --sds-component-border-color: var(--sds-color-space-7);
  --sds-component-background-color: transparent;
  --sds-component-hover-border-color: var(--sds-color-space-6);
  --sds-component-hover-background-color: transparent;
  --sds-component-focus-color: var(--sds-color-action-2);
  --sds-component-focus-border-color: var(--sds-color-action-6);
  --sds-component-focus-background-color: var(--sds-color-white);
  --sds-component-error-border-color: var(--sds-error-color);
  --sds-component-error-background-color: var(--sds-color-white);
  --sds-component-checked-border-color: var(--sds-color-space-4);
  --sds-component-checked-background-color: var(--sds-color-space-4);

  // ###### Component Colors (RGB Variations)
  --sds-component-focus-border-color-rgb: var(--sds-color-action-6-rgb);

  // ###### Component Generic DISABLED and variations
  --sds-component-disabled-color: var(--sds-color-space-8);
  --sds-component-disabled-border-color: var(--sds-color-space-5);
  --sds-component-disabled-background-color: var(--sds-color-space-1);
  --sds-component-disabled-cursor: not-allowed;

  // ###### Component Generic PLACEHOLDER
  --sds-component-placeholder-color: var(--sds-color-space-6);
  --sds-component-placeholder-disabled-color: var(--sds-color-space-6);

  // ###### Component ICON (icons inside components like .sds-input--search)
  --sds-component-icon-color: var(--sds-color-space-8);
  --sds-component-icon-disabled-color: var(--sds-color-space-6);

  // ###### Generic SELECTION elements (like radio or checkbox)
  --sds-selection-option-spacer: 24px;
  --sds-selection-icon-spacer: 8px;
  --sds-selection-icon-spacer-vertical: 4px;
  --sds-selection-icon-size: 16px;
  --sds-selection-z-index-before: auto;
  --sds-selection-z-index-after: auto;

  --sds-selection-disabled-tex-color: var(--sds-color-space-6);
  --sds-selection-checked-disabled-border-color: var(--sds-color-action-5);
  --sds-selection-checked-disabled-background-color: var(--sds-color-action-5);

  // ###### Component Commons
  --sds-component-width: fit-content;
  --sds-component-height: 36px;
  --sds-component-vertical-spacer: 2px;

  --sds-component-padding-vertical: 0;
  --sds-component-padding-horizontal: 12px;

  --sds-component-box-shadow: 0 3px 9px 0 rgba(var(--sds-color-neutral-12-rgb), 0.25);
  --sds-component-focus-box-shadow: 0 0 0 2px var(--sds-component-focus-color);

  --sds-component-border: 1px solid;
  --sds-component-border-radius: 4px;

  --sds-component-icon-left-spacer: 4px;
  --sds-component-icon-right-spacer: 8px;

  // ###### ICONS
  --sds-icon-font-family: '#{$defaultIconFontFamilySds}', '#{$defaultIconFontFamilyEgeo}', Symbol, sans-serif;
  --sds-icon-search: '#{$searchIcon}';
  --sds-icon-email: '#{$emailIcon}';
  --sds-icon-user: '#{$userIcon}';
  --sds-icon-password: '#{$passwordIcon}';
  --sds-icon-action-clear: '#{$actionClearIcon}';
  --sds-icon-arrow-bottom: '#{$arrowDownIcon}';
  --sds-icon-checkbox-checked: '#{$checkboxCheckedIcon}';

  // ################################################################################################
  // ###### COMPONENTS ##############################################################################
  // ################################################################################################

  // ###### ALERT
  --sds-alert-position: fixed;
  --sds-alert-padding-vertical: 32px;
  --sds-alert-padding-horizontal: var(--sds-alert-padding-vertical);
  --sds-alert-width: 350px;
  --sds-alert-min-width: var(--sds-alert-width);
  --sds-alert-max-width: var(--sds-alert-width);
  --sds-alert-top: 0;
  --sds-alert-left: 0;
  --sds-alert-z-index: 1;

  --sds-alert-border: var(--sds-component-border);
  --sds-alert-border-radius: var(--sds-component-border-radius);
  --sds-alert-box-shadow: var(--sds-component-box-shadow);

  --sds-alert-close-control-color: var(--sds-color-space-8);
  --sds-alert-close-control-top: -15px;
  --sds-alert-close-control-right: -15px;

  --sds-alert-header-separation: 12px;
  --sds-alert-title-icon-separation: 12px;

  --sds-alert-title-text-color: var(--sds-color-space-17);
  --sds-alert-title-icon-color: var(--sds-color-action-6);
  --sds-alert-title-icon-spacer: 8px;
  --sds-alert-body-text-color: var(--sds-color-space-8);
  --sds-alert-border-color: var(--sds-color-space-3);
  --sds-alert-background-color: var(--sds-color-white);

  --sds-alert-actions-height: 40px;
  --sds-alert-actions-background-color: var(--sds-color-space-5);
  --sds-alert-actions-separation: 2px;

  // ###### BADGE
  --sds-badge-position: absolute;
  --sds-badge-min-width: 20px;
  --sds-badge-min-height: 20px;
  --sds-badge-padding: 4px 3px;

  --sds-badge-color: white;
  --sds-badge-background-color: var(--sds-color-space-6);
  --sds-badge-border-color: var(--sds-color-space-6);
  --sds-badge-border-radius: 20px;

  --sds-badge-text-top: 0.5px;

  // ###### BREADCRUMB
  --sds-breadcrum-item-spacing: 8px;

  --sds-breadcrumb-link-color: var(--sds-color-space-8);
  --sds-breadcrumb-link-hover-color: var(--sds-color-action-6);
  --sds-breadcrumb-link-active-color: var(--sds-color-space-17);

  --sds-breadcrum-separator-color: var(--sds-color-space-8);
  --sds-breadcrum-dropdown-trigger-color: var(--sds-color-space-8);

  // ###### BUTTON
  --sds-button-color: var(--sds-color-white);
  --sds-button-border-color: var(--sds-color-action-6);
  --sds-button-background-color: var(--sds-color-action-6);
  --sds-button-hover-color: var(--sds-color-white);
  --sds-button-hover-border-color: var(--sds-color-action-7);
  --sds-button-hover-background-color: var(--sds-color-action-7);
  --sds-button-active-color: var(--sds-color-white);
  --sds-button-active-border-color: var(--sds-color-action-8);
  --sds-button-active-background-color: var(--sds-color-action-8);
  --sds-button-disabled-color: var(--sds-color-space-4);
  --sds-button-disabled-border-color: var(--sds-color-space-1);
  --sds-button-disabled-background-color: var(--sds-color-space-1);
  --sds-button-disabled-icon-color: var(--sds-color-space-4);

  --sds-button-icon-spacer: 8px;
  --sds-button-border-correction: 2px;

  // ###### CHECKBOX
  $checkboxChecked: 'data:image/svg+xml; utf8, <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.6738 4.57069C11.4568 4.41504 11.2446 4.26814 11.0639 4.14187C11.0029 4.09874 10.9443 4.06685 10.8832 4.04373C10.5768 3.92871 10.2704 4.04373 10.0673 4.3519C9.48284 5.24204 8.89778 6.13469 8.31333 7.0242L6.99938 9.02827C6.59262 8.60758 6.18889 8.19002 5.78274 7.76995C5.60988 7.59117 5.43461 7.50178 5.24785 7.50178H5.24483C5.06109 7.50178 4.88279 7.59117 4.71296 7.76682C4.56247 7.92247 4.41499 8.075 4.26752 8.23065L4.25664 8.2419C3.91395 8.59883 3.91395 8.99077 4.25966 9.3477C4.99219 10.1053 5.72411 10.8623 6.45664 11.6199C6.4929 11.6574 6.53158 11.695 6.57328 11.7325C6.77394 11.9081 6.99092 12 7.2079 12C7.24416 12 7.28042 11.9969 7.31669 11.9912C7.56449 11.9569 7.78449 11.8012 7.95432 11.5449C9.22113 9.61274 10.4716 7.70619 11.8581 5.5896C12.1005 5.22392 12.0279 4.82323 11.6744 4.57006L11.6738 4.57069Z" fill="rgb(33, 44, 56)"/></svg>';
  $checkboxIndeterminate: 'data:image/svg+xml; utf8, <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="3" y="7" width="10" height="2" fill="rgb(33, 44, 56)"/></svg>';
  --sds-checkbox-checked: url('#{$checkboxChecked}');
  --sds-checkbox-indeterminate: url('#{$checkboxIndeterminate}');
  --sds-checkbox-border-radius: 2px;
  --sds-checkbox-indeterminate-border-color: var(--sds-color-action-6);
  --sds-checkbox-indeterminate-background-color: var(--sds-color-white);
  --sds-checkbox-indeterminate-disabled-border-color: var(--sds-color-action-4);
  --sds-checkbox-indeterminate-disabled-background-color: var(--sds-color-white);

  // ###### DATE PICKER
  --sds-calendar-position: absolute;
  --sds-calendar-width: 300px;
  --sds-calendar-z-index: 2;

  --sds-calendar-background-color: var(--sds-color-white);
  --sds-calendar-border-color: var(--sds-color-space-2);

  --sds-calendar-color: var(--sds-color-space-8);
  --sds-calendar-hover-color: var(--sds-color-space-8);

  // ###### DROPDOWN
  --sds-dropdown-position: absolute;
  --sds-dropdown-width: fit-content;
  --sds-dropdown-min-width: 150px;
  --sds-dropdown-top: 0;
  --sds-dropdown-left: 0;

  --sds-dropdown-border: none;
  --sds-dropdown-border-color: unset;
  --sds-dropdown-border-radius: var(--sds-component-border-radius);

  --sds-dropdown-box-shadow: var(--sds-component-box-shadow);

  --sds-dropdown-padding: 4px 0;
  --sds-dropdown-margin: 0;

  --sds-dropdown-option-group-min-height: 30px;
  --sds-dropdown-option-group-color: var(--sds-color-space-5);

  --sds-dropdown-option-min-height: 40px;
  --sds-dropdown-option-padding-vertical: 8px;
  --sds-dropdown-option-padding-horizontal: 16px;
  --sds-dropdown-option-icon-size: 16px;
  --sds-dropdown-option-icon-spacer: 8px;
  --sds-dropdown-option-label-correction: 1px;
  --sds-dropdown-option-hover-color: var(--sds-color-action-1);
  --sds-dropdown-option-border-radius: 0;

  --sds-dropdown-option-hover-background-color: var(--sds-color-action-1);

  --sds-dropdown-option-selected-background-color: var(--sds-color-space-2);

  --sds-dropdown-option-icon-right-size: 14px;
  --sds-dropdown-option-icon-right-spacer: 40px;

  --sds-dropdown-separator-border: var(--sds-component-border);
  --sds-dropdown-separator-border-color: var(--sds-color-space-3);
  --sds-dropdown-separator-margin: 4px 0;

  // ###### LABEL
  --sds-label-display: table-cell;
  --sds-label-color: var(--sds-color-space-8);
  --sds-label-focus-color: var(--sds-color-space-17);
  --sds-label-error-color: var(--sds-color-space-8);
  --sds-label-disabled-color: var(--sds-color-space-8);

  // ###### LINK
  --sds-link-color: var(--sds-color-action-5);
  --sds-link-hover-color: var(--sds-color-action-4);

  // ###### MODAL
  --sds-modal-overlay-position: fixed;
  --sds-modal-overlay-width: 100vw;
  --sds-modal-overlay-height: 100vh;
  --sds-modal-overlay-background-color: rgba(var(--sds-color-neutral-12-rgb), .7);

  --sds-modal-z-indez: 1;
  --sds-modal-border-radius: 0;

  --sds-modal-background-color: var(--sds-color-white);
  --sds-modal-padding: 24px;
  --sds-modal-spacing: 12px;
  --sds-modal-spacing-vertical: 20px;

  --sds-modal-close-control-color: var(--sds-color-space-17);

  --sds-modal-header-separator-color: var(--sds-color-space-3);
  --sds-modal-header-color: var(--sds-color-space-17);

  // ###### NOTIFICATION
  --sds-notification-position: fixed;
  --sds-notification-padding: 7px 15px;
  --sds-notification-width: fit-content;
  --sds-notification-min-width: unset;
  --sds-notification-max-width: 50vw;
  --sds-notification-top: 0;
  --sds-notification-left: 0;
  --sds-notification-z-index: 1;

  --sds-notification-border: var(--sds-component-border);
  --sds-notification-border-radius: var(--sds-component-border-radius);
  --sds-notification-box-shadow: var(--sds-component-box-shadow);

  --sds-notification-text-color: var(--sds-color-space-8);
  --sds-notification-border-color: var(--sds-color-white);
  --sds-notification-background-color: var(--sds-color-white);

  --sds-notification-icon-separation: 10px;
  --sds-notification-close-control-separation: 50px;

  --sds-notification-inside-link-color: var(--sds-color-action-5);

  // ###### RADIO Button
  $radioChecked: 'data:image/svg+xml; utf8, <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="8" cy="8" r="3" fill="white"/></svg>';
  --sds-radio-checked: url('#{$radioChecked}');
  --sds-radio-border-radius: 100%;

  // ###### REPORT
  --sds-report-color: var(--sds-color-space-8);

  // ###### SPINNER
  --sds-spinner-display: block;
  --sds-spinner-size: 60px;
  --sds-spinner-line-width: 3px;
  --sds-spinner-color: var(--sds-color-action-6);

  // ###### SWITCH
  --sds-switch-background-color: var(--sds-color-space-4);
  --sds-switch-color: var(--sds-color-white);
  --sds-switch-shadow-color: var(--sds-color-neutral-12);
  --sds-switch-shadow-color-rgb: var(--sds-color-neutral-12-rgb);
  --sds-switch-checked-background-color: var(--sds-color-action-6);
  --sds-switch-disabled-background-color: var(--sds-color-space-2);
  --sds-switch-disabled-checked-background-color: var(--sds-color-action-4);

  --sds-switch-height: 22px;
  --sds-switch-border-radio: 25px;

  // ###### TAB
  $sdsTabAuxCellPaddingBottom: 4px;
  $sdsTabAuxCellActiveBorderWidth: 2px;

  --sds-tab-width: 100%;
  --sds-tab-border: var(--sds-component-border);
  --sds-tab-border-color: var(--sds-color-space-7);

  --sds-tab-height: var(--sds-component-height);

  --sds-tab-cell-padding: 0 24px #{$sdsTabAuxCellPaddingBottom} 24px;
  --sds-tab-cell-margin-bottom: -1px;
  --sds-tab-cell-color: var(--sds-color-action-5);
  --sds-tab-cell-hover-color: var(--sds-color-action-4);
  --sds-tab-cell-hover-border-color: var(--sds-color-space-4);
  --sds-tab-cell-cursor: pointer;

  --sds-tab-cell-active-padding-bottom: calc(#{$sdsTabAuxCellPaddingBottom} - #{$sdsTabAuxCellActiveBorderWidth});
  --sds-tab-cell-active-color: var(--sds-color-space-7);
  --sds-tab-cell-active-border: #{$sdsTabAuxCellActiveBorderWidth} solid;
  --sds-tab-cell-active-border-color: var(--sds-color-space-7);
  --sds-tab-cell-active-cursor: default;

  // ###### TAG
  --sds-tag-text-color: var(--sds-color-space-8);
  --sds-tag-border-color: var(--sds-color-space-14);
  --sds-tag-background-color: var(--sds-color-space-14);
  --sds-tag-neutral-text-color: var(--sds-color-space-17);
  --sds-tag-neutral-border-color: var(--sds-color-space-3);
  --sds-tag-neutral-background-color: var(--sds-color-space-3);
  --sds-tag-critical-text-color: var(--sds-color-coral-8);
  --sds-tag-critical-border-color: var(--sds-color-coral-1);
  --sds-tag-critical-background-color: var(--sds-color-coral-1);
  --sds-tag-warning-text-color: var(--sds-warning-color);
  --sds-tag-warning-border-color: var(--sds-color-orange-1);
  --sds-tag-warning-background-color: var(--sds-color-orange-1);
  --sds-tag-success-text-color: var(--sds-success-color);
  --sds-tag-success-border-color: var(--sds-color-green-1);
  --sds-tag-success-background-color: var(--sds-color-green-1);

  --sds-tag-hover-text-color: var(--sds-color-action-6);
  --sds-tag-hover-border-color: var(--sds-color-action-1);
  --sds-tag-hover-background-color: var(--sds-color-action-1);
  --sds-tag-active-text-color: var(--sds-color-white);
  --sds-tag-active-border-color: var(--sds-color-action-6);
  --sds-tag-active-background-color: var(--sds-color-action-6);
  --sds-tag-disabled-text-color: var(--sds-color-space-6);
  --sds-tag-disabled-border-color: var(--sds-color-space-2);
  --sds-tag-disabled-background-color: var(--sds-color-space-2);

  --sds-tag-height: 30px;

  // ###### TEXTAREA
  --sds-textarea-resize: vertical;

  // ###### TOGGLE BUTTON
  $sdsToggleButtonBorderWidth: 1px;
  --sds-toggle-button-border: #{$sdsToggleButtonBorderWidth} solid;
  --sds-toggle-button-margin-left: calc(#{$sdsToggleButtonBorderWidth} * (-1));
  --sds-toggle-button-border-color: var(--sds-color-space-5);
  --sds-toggle-button-border-radius: var(--sds-component-border-radius);

  --sds-toggle-button-disabled-border-color: var(--sds-color-space-3);

  --sds-toggle-button-active-color: var(--sds-color-space-13);
  --sds-toggle-button-active-background-color: var(--sds-color-space-2);

  --sds-toggle-button-active-disabled-color: var(--sds-color-space-4);
  --sds-toggle-button-active-disabled-border-color: var(--sds-color-space-3);
  --sds-toggle-button-active-disabled-background-color: var(--sds-color-space-1);

  // ###### TOOLTIP
  --sds-tooltip-position: fixed;
  --sds-tooltip-height: 30px;
  --sds-tooltip-color: var(--sds-color-white);
  --sds-tooltip-background-color: var(--sds-color-space-13);
  --sds-tooltip-border-color: var(--sds-color-space-13);
  --sds-tooltip-padding: 0 8px;

  --sds-tooltip-arrow-position: fixed;
}
