@import '../../../../global/mixins';
@import '../../../../global/components/shared/common';
@import '../font-sizes';
@import '../colors';
@import './sass';
@import '../spacing';

%npa-global-vars {
  // ###### Spacing Definition
  @each $value in $spacings {
    --npa-spacing-#{$value}: #{$value}px;
    --npa-spacing-relative-#{$value}: #{getRemRelativeSize($value, $fontSizeRoot)};
  }

  // ###### Color Scheme Definition
  @each $key, $value in $colorsAvailable {
    --npa-color-#{$key}: #{$value};
    --npa-color-#{$key}-rgb: #{red($value), green($value), blue($value)};
  }

  // ###### Component Colors (HEX)
  --npa-component-border-color: var(--npa-color-space-40);
  --npa-component-background-color: var(--npa-color-neutral-full);
  --npa-component-hover-border-color: var(--npa-color-space-70);
  --npa-component-hover-background-color: var(--npa-color-neutral-full);
  --npa-component-focus-border-color: var(--npa-color-action);
  --npa-component-focus-background-color: var(--npa-color-neutral-full);
  --npa-component-error-border-color: var(--npa-color-critical);
  --npa-component-error-background-color: var(--npa-color-neutral-full);
  --npa-component-checked-border-color: var(--npa-color-action);
  --npa-component-checked-background-color: var(--npa-color-action);

  // ###### Component Colors (RGB Variations)
  --npa-component-focus-border-color-rgb: var(--npa-color-action-rgb);

  // ###### Component Generic DISABLED and variations
  --npa-component-disabled-color: var(--npa-color-space-80);
  --npa-component-disabled-border-color: var(--npa-color-space-40);
  --npa-component-disabled-background-color: var(--npa-color-space-5);
  --npa-component-disabled-cursor: not-allowed;

  // ###### Component Generic PLACEHOLDER
  --npa-component-placeholder-color: var(--npa-color-space-50);
  --npa-component-placeholder-disabled-color: var(--npa-color-space-50);

  // ###### Component ICON (icons inside components like .npa-input--search)
  --npa-component-icon-color: var(--npa-color-space-80);
  --npa-component-icon-disabled-color: var(--npa-color-space-50);

  // ###### Component Commons
  --npa-component-width: fit-content;
  --npa-component-vertical-spacer: 2px;

  --npa-component-padding-vertical: 9px;
  --npa-component-padding-horizontal: 10px;

  --npa-component-focus-box-shadow: none;

  --npa-component-border: 1px solid;
  --npa-component-border-radius: 25px;

  // ###### Generic Colors (HEX)
  --npa-focus-color: var(--npa-color-action);
  --npa-error-color: var(--npa-color-critical);

  // ###### ICONS
  --npa-icon-font-family: '#{$defaultIconFontFamilyNpa}', '#{$defaultIconFontFamilyEgeo}', Symbol, sans-serif;
  --npa-icon-search: '#{$searchIcon}';
  --npa-icon-email: '#{$emailIcon}';
  --npa-icon-user: '#{$userIcon}';
  --npa-icon-password: '#{$passwordIcon}';
  --npa-icon-action-clear: '#{$actionClearIcon}';
  --npa-icon-arrow-bottom: '#{$arrowDownIcon}';
  --npa-icon-checkbox-checked: '#{$checkboxCheckedIcon}';

  // ###### LABEL
  --npa-label-display: table-cell;
  --npa-label-color: var(--npa-color-space-80);
  --npa-label-focus-color: var(--npa-color-space-110);
  --npa-label-error-color: var(--npa-color-space-80);
  --npa-label-disabled-color: var(--npa-color-space-80);

  // ###### REPORT
  --npa-report-color: var(--npa-color-space-80);

  // ###### Generic SELECTION elements (like radio or checkbox)
  --npa-selection-option-spacer: 20px;
  --npa-selection-icon-spacer: 4px;
  --npa-selection-icon-spacer-vertical: 4px;
  --npa-selection-icon-size: 16px;
  --npa-selection-z-index-before: auto;
  --npa-selection-z-index-after: auto;

  --npa-selection-disabled-tex-color: var(--npa-color-space-50);
  --npa-selection-checked-disabled-border-color: var(--npa-color-action-40);
  --npa-selection-checked-disabled-background-color: var(--npa-color-action-40);

  // ###### RADIO Button
  --npa-radio-border-radius: 100%;

  // ###### CHECKBOX Button
  --npa-checkbox-border-radius: 4px;
  --npa-checkbox-indeterminate-border-color: var(--npa-color-action);
  --npa-checkbox-indeterminate-background-color: var(--npa-color-action);
  --npa-checkbox-indeterminate-disabled-border-color: var(--npa-color-action-40);
  --npa-checkbox-indeterminate-disabled-background-color: var(--npa-color-action-40);

  // ###### TEXTAREA
  --npa-textarea-height: 40px;
  --npa-textarea-resize: vertical;

  // ###### BUTTON
  --npa-button-color: var(--npa-color-neutral-full);
  --npa-button-border-color: var(--npa-color-action);
  --npa-button-background-color: var(--npa-color-action);
  --npa-button-hover-color: var(--npa-color-neutral-full);
  --npa-button-hover-border-color: var(--npa-color-action-120);
  --npa-button-hover-background-color: var(--npa-color-action-120);
  --npa-button-active-color: var(--npa-color-neutral-full);
  --npa-button-active-border-color: var(--npa-color-action-150);
  --npa-button-active-background-color: var(--npa-color-action-150);
  --npa-button-disabled-color: var(--npa-color-action-60);
  --npa-button-disabled-border-color: var(--npa-color-action-10);
  --npa-button-disabled-background-color: var(--npa-color-action-10);
  --npa-button-disabled-icon-color: var(--npa-color-neutral-full);

  --npa-button-icon-size: 16px;
  --npa-button-icon-spacer: 4px;

  // ###### SWITCH
  --npa-switch-background-color: var(--npa-color-space-30);
  --npa-switch-color: var(--npa-color-neutral-full);
  --npa-switch-shadow-color: var(--npa-color-neutral);
  --npa-switch-shadow-color-rgb: var(--npa-color-neutral-rgb);
  --npa-switch-checked-background-color: var(--npa-color-action);
  --npa-switch-disabled-background-color: var(--npa-color-space-10);
  --npa-switch-disabled-checked-background-color: var(--npa-color-action-40);

  --npa-switch-height: 22px;
  --npa-switch-border-radio: 25px;

  // ###### TAG
  --npa-tag-text-color: var(--npa-color-space-110);
  --npa-tag-border-color: var(--npa-color-space-10);
  --npa-tag-background-color: var(--npa-color-space-10);
  --npa-tag-neutral-text-color: var(--npa-color-space-110);
  --npa-tag-neutral-border-color: var(--npa-color-space-20);
  --npa-tag-neutral-background-color: var(--npa-color-space-20);
  --npa-tag-critical-text-color: var(--npa-color-critical-140);
  --npa-tag-critical-border-color: var(--npa-color-critical-10);
  --npa-tag-critical-background-color: var(--npa-color-critical-10);
  --npa-tag-warning-text-color: var(--npa-color-warning);
  --npa-tag-warning-border-color: var(--npa-color-warning-10);
  --npa-tag-warning-background-color: var(--npa-color-warning-10);
  --npa-tag-success-text-color: var(--npa-color-success);
  --npa-tag-success-border-color: var(--npa-color-success-10);
  --npa-tag-success-background-color: var(--npa-color-success-10);

  --npa-tag-hover-text-color: var(--npa-color-action);
  --npa-tag-hover-border-color: var(--npa-color-action-10);
  --npa-tag-hover-background-color: var(--npa-color-action-10);
  --npa-tag-active-text-color: var(--npa-color-neutral-full);
  --npa-tag-active-border-color: var(--npa-color-action);
  --npa-tag-active-background-color: var(--npa-color-action);
  --npa-tag-disabled-text-color: var(--npa-color-space-50);
  --npa-tag-disabled-border-color: var(--npa-color-space-10);
  --npa-tag-disabled-background-color: var(--npa-color-space-10);

  --npa-tag-padding-horizontal: 8px;
  --npa-tag-padding-vertical: 4px;

  // ###### SPINNER
  --npa-spinner-display: block;
  --npa-spinner-size: 60px;
  --npa-spinner-line-width: 3px;
  --npa-spinner-color: var(--npa-color-action);

  // ###### DROPDOWN
  --npa-dropdown-position: absolute;
  --npa-dropdown-width: fit-content;
  --npa-dropdown-min-width: 150px;
  --npa-dropdown-top: 0;
  --npa-dropdown-left: 0;

  --npa-dropdown-border: none;
  --npa-dropdown-border-color: unset;
  --npa-dropdown-border-radius: var(--npa-component-border-radius);

  --npa-dropdown-box-shadow: 0 3px 9px 0 rgba(var(--npa-color-neutral-rgb), 0.25);

  --npa-dropdown-padding: 8px 0;
  --npa-dropdown-margin: 0;

  --npa-dropdown-option-group-min-height: 30px;
  --npa-dropdown-option-group-color: var(--npa-color-space-50);

  --npa-dropdown-option-min-height: 38px;
  --npa-dropdown-option-padding-vertical: 8px;
  --npa-dropdown-option-padding-horizontal: 16px;
  --npa-dropdown-option-icon-size: 16px;
  --npa-dropdown-option-icon-spacer: 8px;
  --npa-dropdown-option-label-correction: 1px;
  --npa-dropdown-option-hover-color: var(--npa-color-action-10);
  --npa-dropdown-option-border-radius: 0;

  --npa-dropdown-option-hover-background-color: var(--npa-color-neutral-8);

  --npa-dropdown-option-selected-background-color: var(--npa-color-action-10);

  --npa-dropdown-option-icon-right-size: 14px;
  --npa-dropdown-option-icon-right-spacer: 40px;

  --npa-dropdown-separator-border: var(--npa-component-border);
  --npa-dropdown-separator-border-color: var(--npa-color-space-20);
  --npa-dropdown-separator-margin: 4px 0;

  // ###### NOTIFICATION
  --npa-notification-position: fixed;
  --npa-notification-padding: 7px 15px;
  --npa-notification-width: fit-content;
  --npa-notification-min-width: unset;
  --npa-notification-max-width: 50vw;
  --npa-notification-top: 0;
  --npa-notification-left: 0;
  --npa-notification-z-index: 1;

  --npa-notification-border: var(--npa-component-border);
  --npa-notification-border-radius: var(--npa-component-border-radius);
  --npa-notification-box-shadow: 0 3px 9px rgba(17, 17, 17, 0.25);

  --npa-notification-text-color: var(--npa-color-space-80);
  --npa-notification-border-color: var(--npa-color-neutral-full);
  --npa-notification-background-color: var(--npa-color-neutral-full);

  --npa-notification-icon-separation: 10px;
  --npa-notification-close-control-separation: 50px;

  --npa-notification-inside-link-color: var(--npa-color-action);

  // ###### LINK
  --npa-link-color: var(--npa-color-action);
  --npa-link-hover-color: var(--npa-color-action-120);

  // ###### ALERT
  --npa-alert-position: fixed;
  --npa-alert-padding-vertical: 32px;
  --npa-alert-padding-horizontal: var(--npa-alert-padding-vertical);
  --npa-alert-width: 350px;
  --npa-alert-min-width: var(--npa-alert-width);
  --npa-alert-max-width: var(--npa-alert-width);
  --npa-alert-top: 0;
  --npa-alert-left: 0;
  --npa-alert-z-index: 1;

  --npa-alert-border: var(--npa-component-border);
  --npa-alert-border-radius: var(--npa-component-border-radius);
  --npa-alert-box-shadow: 0 3px 9px rgba(17, 17, 17, 0.25);

  --npa-alert-close-control-color: var(--npa-color-space-80);
  --npa-alert-close-control-top: -15px;
  --npa-alert-close-control-right: -15px;

  --npa-alert-header-separation: 12px;
  --npa-alert-title-icon-separation: 12px;

  --npa-alert-title-text-color: var(--npa-color-space-110);
  --npa-alert-title-icon-color: var(--npa-color-action);
  --npa-alert-title-icon-spacer: 8px;
  --npa-alert-body-text-color: var(--npa-color-space-80);
  --npa-alert-border-color: var(--npa-color-space-20);
  --npa-alert-background-color: var(--npa-color-neutral-full);

  --npa-alert-actions-height: 40px;
  --npa-alert-actions-background-color: var(--npa-color-space-5);
  --npa-alert-actions-separation: 2px;

  // ###### TAB
  $npaTabAuxCellPaddingBottom: 4px;
  $npaTabAuxCellActiveBorderWidth: 2px;

  --npa-tab-width: 100%;
  --npa-tab-border: var(--npa-component-border);
  --npa-tab-border-color: var(--npa-color-space-20);

  --npa-tab-height: var(--npa-component-height);

  --npa-tab-cell-padding: 0 24px #{$npaTabAuxCellPaddingBottom} 24px;
  --npa-tab-cell-margin-bottom: -1px;
  --npa-tab-cell-color: var(--npa-color-action);
  --npa-tab-cell-hover-color: var(--npa-color-action-120);
  --npa-tab-cell-cursor: pointer;

  --npa-tab-cell-active-padding-bottom: calc(#{$npaTabAuxCellPaddingBottom} - #{$npaTabAuxCellActiveBorderWidth});
  --npa-tab-cell-active-color: var(--npa-color-space-110);
  --npa-tab-cell-active-border: #{$npaTabAuxCellActiveBorderWidth} solid;
  --npa-tab-cell-active-border-color: var(--npa-color-space-110);
  --npa-tab-cell-active-cursor: default;

  // ###### TOGGLE BUTTON
  $npaToggleButtonBorderWidth: 1px;
  --npa-toggle-button-border: #{$npaToggleButtonBorderWidth} solid;
  --npa-toggle-button-margin-left: calc(#{$npaToggleButtonBorderWidth} * (-1));
  --npa-toggle-button-border-color: var(--npa-color-space-40);
  --npa-toggle-button-border-radius: var(--npa-component-border-radius);

  --npa-toggle-button-disabled-border-color: var(--npa-color-space-20);

  --npa-toggle-button-active-color: var(--npa-color-space);
  --npa-toggle-button-active-background-color: var(--npa-color-space-10);

  --npa-toggle-button-active-disabled-color: var(--npa-color-space-30);
  --npa-toggle-button-active-disabled-border-color: var(--npa-color-space-20);
  --npa-toggle-button-active-disabled-background-color: var(--npa-color-space-5);
}
