@import '../../global/mixins';
@import '../../global/fonts/Nunito';
@import '../../global/fonts/Stratio-Icon';
@import '../../global/components/components';

@import './backroom/variables/common';
@import './backroom/components';
@import './backroom/font-sizes';
@import './backroom/colors';

HTML {
  &#sds-stratio-tpl, &.sds-stratio-tpl {
    font-size: $fontSizeRoot + px;
    line-height: $fontLineHeightFactor;

    * {
      font-family: 'Nunito Sans', sans-serif;
      color: var(--sds-color-space-110);
      outline: none;
    }

    @extend %sds-nunito-sans-typography-definition;

    @include createFontDefinition($fontSizesText, $fontSizeRoot, $fontLineHeightFactor) {
      // ###### HEADERS
      @include createHeadersDefinition($fontSizesHeaders, $fontSizeRoot, $fontLineHeightFactor);

      // ###### DEFAULT WEIGHT AND STYLE
      .sds--bold {
        font-weight: bold;
      }
      .sds--italic {
        font-style: italic;
      }

      // ###### DEFAULT SIZE
      .sds-font--default {
        font-size: 1rem;
        line-height: $fontLineHeightFactor;
      }
    }

    @include createColorsDefinition($colorsAvailable);
    @extend %sds-icon-definition;
    @extend %sds-global-vars;
    @extend %sds-components;
    @extend %sds-components-template;
  }
}
