@import '../../../../global/components/shared/common';
@import '../colors';
@import './sass';

%npa-global-vars {
  // ###### Color Scheme Definition

  @each $key, $value in $colorsAvailable {
    --npa-color-#{$key}: #{$value};
    --npa-color-#{$key}-rgb: #{red($value), green($value), blue($value)};
  }

  // ###### Component Commons
  --npa-component-width: fit-content;
  --npa-component-vertical-spacer: 2px;

  --npa-component-padding-vertical: 9px;
  --npa-component-padding-horizontal: 10px;

  --npa-component-border: 1px solid;
  --npa-component-border-radius: 25px;

  // ###### Generic Colors (HEX)
  --npa-focus-color: var(--npa-color-action);
  --npa-error-color: var(--npa-color-critical);

  // ###### Component Colors (HEX)
  --npa-component-border-color: var(--npa-color-space-40);
  --npa-component-background-color: var(--npa-color-neutral-full);
  --npa-component-hover-border-color: var(--npa-color-space-70);
  --npa-component-hover-background-color: var(--npa-color-neutral-full);
  --npa-component-focus-border-color: var(--npa-color-action);
  --npa-component-focus-background-color: var(--npa-color-neutral-full);
  --npa-component-error-border-color: var(--npa-color-critical);
  --npa-component-error-background-color: var(--npa-color-neutral-full);
  --npa-component-checked-border-color: var(--npa-color-action);
  --npa-component-checked-background-color: var(--npa-color-action);

  // ###### Component Colors (RGB Variations)
  --npa-component-focus-border-color-rgb: var(--npa-color-action-rgb);

  // ###### Component Generic DISABLED and variations
  --npa-component-disabled-color: var(--npa-color-space-80);
  --npa-component-disabled-border-color: var(--npa-color-space-40);
  --npa-component-disabled-background-color: var(--npa-color-space-5);
  --npa-component-disabled-cursor: not-allowed;

  // ###### Component Generic PLACEHOLDER
  --npa-component-placeholder-color: var(--npa-color-space-50);
  --npa-component-placeholder-disabled-color: var(--npa-color-space-50);

  // ###### Component ICON (icons inside components like .npa-input--search)
  --npa-component-icon-color: var(--npa-color-space-80);
  --npa-component-icon-disabled-color: var(--npa-color-space-50);

  // ###### ICONS
  --npa-icon-font-family: '#{$defaultIconFontFamilyNpa}', '#{$defaultIconFontFamilyEgeo}', Symbol, sans-serif;
  --npa-icon-search: '#{$searchIcon}';
  --npa-icon-email: '#{$emailIcon}';
  --npa-icon-user: '#{$userIcon}';
  --npa-icon-password: '#{$passwordIcon}';
  --npa-icon-action-clear: '#{$actionClearIcon}';
  --npa-icon-arrow-bottom: '#{$arrowDownIcon}';
  --npa-icon-checkbox-checked: '#{$checkboxCheckedIcon}';

  // ###### LABEL
  --npa-label-display: table-cell;
  --npa-label-color: var(--npa-color-space-80);
  --npa-label-focus-color: var(--npa-color-space-110);
  --npa-label-error-color: var(--npa-color-space-80);
  --npa-label-disabled-color: var(--npa-color-space-80);

  // ###### REPORT
  --npa-report-color: var(--npa-color-space-80);

  // ###### Generic SELECTION elements (like radio or checkbox)
  --npa-selection-option-spacer: 20px;
  --npa-selection-icon-spacer: 4px;
  --npa-selection-icon-size: 16px;

  --npa-selection-disabled-tex-color: var(--npa-color-space-50);
  --npa-selection-checked-disabled-border-color: var(--npa-color-action-40);
  --npa-selection-checked-disabled-background-color: var(--npa-color-action-40);

  --npa-selection-internal-checked-color: var(--npa-color-neutral-full);
  --npa-selection-internal-checked-disabled-color: var(--npa-color-neutral-full);

  // ###### RADIO Button
  --npa-radio-internal-checked-size: 6px;

  // ###### CHECKBOX Button
  --npa-checkbox-internal-checked-size: 14px;
  --npa-checkbox-indeterminate-border-color: var(--npa-color-action);
  --npa-checkbox-indeterminate-background-color: var(--npa-color-neutral-full);
  --npa-checkbox-internal-indeterminate-background-color: var(--npa-color-action);

  // ###### TEXTAREA
  --npa-textarea-height: 40px;
  --npa-textarea-resize: vertical;

  // ###### BUTTON
  --npa-button-color: var(--npa-color-neutral-full);
  --npa-button-border-color: var(--npa-color-action);
  --npa-button-background-color: var(--npa-color-action);
  --npa-button-hover-color: var(--npa-color-neutral-full);
  --npa-button-hover-border-color: var(--npa-color-action-120);
  --npa-button-hover-background-color: var(--npa-color-action-120);
  --npa-button-active-color: var(--npa-color-neutral-full);
  --npa-button-active-border-color: var(--npa-color-action-150);
  --npa-button-active-background-color: var(--npa-color-action-150);
  --npa-button-disabled-color: var(--npa-color-action-60);
  --npa-button-disabled-border-color: var(--npa-color-action-10);
  --npa-button-disabled-background-color: var(--npa-color-action-10);
  --npa-button-disabled-icon-color: var(--npa-color-neutral-full);

  --npa-button-icon-size: 16px;
  --npa-button-icon-spacer: 4px;

  // ###### SWITCH
  --npa-switch-background-color: var(--npa-color-space-30);
  --npa-switch-color: var(--npa-color-neutral-full);
  --npa-switch-shadow-color: var(--npa-color-neutral);
  --npa-switch-shadow-color-rgb: var(--npa-color-neutral-rgb);
  --npa-switch-checked-background-color: var(--npa-color-action);
  --npa-switch-disabled-background-color: var(--npa-color-space-10);
  --npa-switch-disabled-checked-background-color: var(--npa-color-action-40);

  --npa-switch-height: 22px;
  --npa-switch-border-radio: 25px;

  // ###### TAG
  --npa-tag-text-color: var(--npa-color-space-110);
  --npa-tag-border-color: var(--npa-color-space-10);
  --npa-tag-background-color: var(--npa-color-space-10);
  --npa-tag-info-text-color: var(--npa-color-action);
  --npa-tag-info-border-color: var(--npa-color-action-10);
  --npa-tag-info-background-color: var(--npa-color-action-10);
  --npa-tag-critical-text-color: var(--npa-color-critical-140);
  --npa-tag-critical-border-color: var(--npa-color-critical-10);
  --npa-tag-critical-background-color: var(--npa-color-critical-10);
  --npa-tag-warning-text-color: var(--npa-color-warning);
  --npa-tag-warning-border-color: var(--npa-color-warning-10);
  --npa-tag-warning-background-color: var(--npa-color-warning-10);
  --npa-tag-success-text-color: var(--npa-color-success);
  --npa-tag-success-border-color: var(--npa-color-success-10);
  --npa-tag-success-background-color: var(--npa-color-success-10);

  --npa-tag-hover-text-color: var(--npa-color-action);
  --npa-tag-hover-border-color: var(--npa-color-action-10);
  --npa-tag-hover-background-color: var(--npa-color-action-10);
  --npa-tag-active-text-color: var(--npa-color-neutral-full);
  --npa-tag-active-border-color: var(--npa-color-action);
  --npa-tag-active-background-color: var(--npa-color-action);
  --npa-tag-disabled-text-color: var(--npa-color-space-50);
  --npa-tag-disabled-border-color: var(--npa-color-space-10);
  --npa-tag-disabled-background-color: var(--npa-color-space-10);

  --npa-tag-padding-horizontal: 8px;
  --npa-tag-padding-vertical: 4px;

  // ###### SPINNER
  --npa-spinner-display: block;
  --npa-spinner-size: 80px;
  --npa-spinner-line-width: 3px;
  --npa-spinner-color: var(--npa-color-action);
}
