@import 'app.colors';

// ###### LAYOUT
$colorBackground: $colorWhite;
$colorBackgroundHeader: $colorSpace13;
$colorBackgroundHeaderV2: $colorWhite;
$colorBackgroundSubheader: $colorWhite;
$colorBackgroundToolbar: $colorWhite;
$colorBackgroundSidebar: $colorWhite;
$colorBackgroundFooter: $colorWhite;
$colorBackgroundOptionSelected: $colorSpace2;
$colorBackgroundOptionHover: $colorAction1;

$colorBorderDivider: $colorSpace3;
$colorBorderTitle: $colorSpace3;
$colorBorderTableRows: $colorSpace2;

$colorTextDefault: $colorSpace17;
$colorTextH1: $colorSpace17;
$colorTextH2: $colorSpace17;
$colorTextH3: $colorSpace17;
$colorTextH4: $colorSpace17;
$colorTextH5: $colorSpace17;
$colorTextH6: $colorSpace17;
$colorTextOptionSelected: $colorSpace17;
$colorTextOptionHover: $colorSpace17;
$colorTextFixed: $colorSpace17;
$colorTextLinkNoAction: $colorSpace8;
$colorTextLinkNoActionHover: $colorSpace17;
