@import 'app.colors';

// ###### LAYOUT
$colorBackground: $colorWhite;
$colorBackgroundHeader: $colorSpace16;
$colorBackgroundSubheader: $colorWhite;
$colorBackgroundToolbar: $colorWhite;
$colorBackgroundSidebar: $colorWhite;
$colorBackgroundFooter: $colorWhite;
