@import 'app.colors';

// ###### LAYOUT
$colorBackground: $colorWhite;
$colorBackgroundHeader: $colorSpace13;
$colorBackgroundHeaderV2: $colorWhite;
$colorBackgroundSubheader: $colorWhite;
$colorBackgroundToolbar: $colorWhite;
$colorBackgroundSidebar: $colorWhite;
$colorBackgroundFooter: $colorWhite;
