// ###### BASICS
$colorWhite: #FFFFFF;
$colorBlack: #000000;

// ###### ACTION
$colorAction3: #D3F5EA;
$colorAction4: #A6EAD5;
$colorAction5: #7CDFC1;
$colorAction6: #47D7AC;
$colorAction7: #2D807C;
$colorAction8: #205563;

// ###### NEUTRAL
$colorNeutral4: #F1F2F4;
$colorNeutral5: #DFE2E6;
$colorNeutral6: #C4C9D1;
$colorNeutral7: #8993A3;
$colorNeutral8: #4F5E77;
$colorNeutral9: #13294B;
$colorNeutral10: #000033;

// ###### CORAL
$colorCoral6: #EF4034;
$colorCoral7: #C92822;
$colorCoral8: #A31414;

// ###### PEACH
$colorPeach6: #FDBD2B;
$colorPeach7: #D6971A;
$colorPeach8: #B0740C;
