@import 'app.colors';

// ###### LAYOUT
$colorBackground: $colorNeutral10;
$colorBackgroundHeader: $colorNeutral10;
$colorBackgroundSidebar: $colorNeutral9;
$colorBackgroundOptionSelected: transparent;
$colorBackgroundOptionHover: transparent;
$colorBackgroundCard: $colorWhite;
$colorBackgroundCardHover: $colorAction6;

$colorBorderDivider: $colorNeutral8;
$colorBorderTableRows: $colorNeutral8;

$colorTextDefault: $colorWhite;
$colorTextCards: $colorNeutral10;
$colorTextLink: $colorAction6;
