// ###### BRAND
$colorStBlue: #28abf8;

// ###### ACTION
$colorAction: #0776df;
$colorAction150: #043b70;
$colorAction120: #065eb2;
$colorAction80: #3991e5;
$colorAction60: #6aadec;
$colorAction40: #9cc8f2;
$colorAction20: #B9D8F9;
$colorAction10: #e6f1fc;

// ###### SPACE
$colorSpace: #27323d;
$colorSpace110: #0f1b27;
$colorSpace80: #566574;
$colorSpace70: #6c7b8b;
$colorSpace50: #8898a7;
$colorSpace40: #9aa9b8;
$colorSpace30: #aab7c4;
$colorSpace20: #cdd6df;
$colorSpace10: #eaeff5;
$colorSpace5: #f3f6f8;

// ###### STATUSES
$colorSuccess: #0caa70;
$colorSuccess140: #076643;
$colorSuccess120: #0a885a;
$colorSuccess10: #e7f7f1;

$colorWarning: #ec7e13;
$colorWarning140: #8e4c0b;
$colorWarning120: #bd650f;
$colorWarning10: #fdf2e7;

$colorCritical: #df2935;
$colorCritical140: #861920;
$colorCritical120: #b2212a;
$colorCritical10: #fceaeb;

// ###### NEUTRAL
$colorNeutral: #111111;
$colorNeutral80: #414141;
$colorNeutral70: #585858;
$colorNeutral60: #707070;
$colorNeutral50: #888888;
$colorNeutral40: #a0a0a0;
$colorNeutral30: #b8b8b8;
$colorNeutral20: #cfcfcf;
$colorNeutral15: #dbdbdb;
$colorNeutral10: #e7e7e7;
$colorNeutral8: #ececec;
$colorNeutral4: #f5f5f5;
$colorNeutral2: #fafafa;
$colorNeutralFull: #ffffff;

// ###### MISCELLANEOUS
$colorAqua: #3dc9fc;
$colorAqua30: #c5effe;
$colorCoral: #fa7167;
$colorCoral30: #fed4d1;
$colorLavender: #cd89d2;
$colorLavender30: #f0dcf2;
$colorOlive: #acc952;
$colorOlive30: #e6efcb;
$colorTangerine: #fa9c7d;
$colorTangerine30: #fee1d8;
$colorPeach: #fdbd2b;
$colorPeach30: #feebbf;
$colorTurquoise: #2dcfbe;
$colorTurquoise30: #c0f1ec;
$colorViking: #77b1e1;
$colorViking30: #d6e8f6;
