@import '../../../space-light/backroom/exportable/app.colors';

// ###### LAYOUT
$colorBackground: $colorSpace17;
$colorBackgroundHeader: $colorSpace16;
$colorBackgroundHeaderV2: $colorSpace17;
$colorBackgroundSubheader: $colorSpace15;
$colorBackgroundToolbar: $colorSpace15;
$colorBackgroundSidebar: $colorSpace16;
$colorBackgroundFooter: $colorSpace17;
