@import '../../../space-light/backroom/exportable/app.colors';

// ###### LAYOUT
$colorBackground: $colorSpace17;
$colorBackgroundHeader: $colorSpace16;
$colorBackgroundHeaderV2: $colorSpace17;
$colorBackgroundSubheader: $colorSpace15;
$colorBackgroundToolbar: $colorSpace15;
$colorBackgroundSidebar: $colorSpace16;
$colorBackgroundFooter: $colorSpace17;
$colorBackgroundOptionSelected: rgba($colorSpace1, .08);
$colorBackgroundOptionHover: rgba($colorSpace1, .1);

$colorBorderDivider: $colorSpace14;
$colorBorderTitle: $colorSpace3;
$colorBorderTableRows: $colorSpace14;

$colorTextDefault: $colorSpace6;
$colorTextH1: $colorSpace3;
$colorTextH2: $colorSpace4;
$colorTextH3: $colorSpace4;
$colorTextH4: $colorSpace4;
$colorTextH5: $colorSpace4;
$colorTextH6: $colorSpace4;
$colorTextOptionSelected: $colorSpace3;
$colorTextOptionHover: $colorSpace6;
$colorTextFixed: $colorSpace17;
